= '\n'
//= deviceMenu =
//-=(/layout/nav/deviceMenu/_deviceMenu.scss)=
-
    var deviceMenu_mobil = [
        {
            href: 'main.html',
            name: 'Головна'
        },
        {
            href: 'aboutCompany.html',
            name: 'Про компанію'
        },
        {
            href: 'catalog-pools.html',
            name: 'Каталог',
            openBlock: true,
            list: [
                {
                    href: 'catalog-pools.html',
                    subname: 'Басейни'
                },
                {
                    href: 'catalog-cover.html',
                    subname: 'Накриття'
                },
                {
                    href: 'catalog-terrace.html',
                    subname: 'Терасна система'
                },
                {
                    href: 'catalog-comPools.html',
                    subname: 'Композитні басейни',
                    openBlockinner: true,
                    innerlist: [
                        {
                            subnameinner: 'Серія Baby pool'
                        },
                        {
                            subnameinner: 'Серія Trainer'
                        },
                        {
                            subnameinner: 'Серія Riverina'
                        },
                        {
                            subnameinner: 'Серія Java'
                        },
                        {
                            subnameinner: 'Серія Briliant'
                        },
                        {
                            subnameinner: 'Серія Fast lane'
                        },
                        {
                            subnameinner: 'Серія Yacht pool'
                        },
                        {
                            subnameinner: 'Aqua'
                        },
                        {
                            subnameinner: 'Fun'
                        },
                        {
                            subnameinner: 'Trend'
                        }
                    ]
                },
                {
                    href: 'catalog-furnaces.html',
                    subname: 'Печі для саун'
                },
                {
                    href: 'catalog-cabs.html',
                    subname: 'ІЧ-кабіни'
                },
                {
                    href: 'catalog-attractions.html',
                    subname: 'Атракціони'
                },
                {
                    href: 'catalog-careForwater.html',
                    subname: 'Догляд за водою'
                },
                {
                    href: 'catalog-stations.html',
                    subname: 'Навісні фільтраційні станції Desjoyaux'
                }
            ]
        },
        {
            href: 'feedback.html',
            name: 'Відгуки',
        },
        {
            href: 'contacts.html',
            name: 'Контакти'
        }
    ]

.deviceMenu
    ul.deviceMenu__inner.accordion-menu
        each val in deviceMenu_mobil
            if (val.openBlock)
                li.submenuInner
                    a(href= val.href)= val.name
                    i.dropdownlink
                    ul.submenuItems
                        each item in val.list
                            if (item.openBlockinner)
                                li.subsubmenuInner
                                    a(href='#')= item.subname
                                    i.dropdownlink
                                    ul.subsubmenuItems
                                        each inner in item.innerlist
                                            li
                                                a(href='#')= inner.subnameinner
                            else
                                li
                                    a(href= item.href)= item.subname
            else
                li
                    a(href= val.href)= val.name

                //- .image
                //-     img(src='data/nav/mobile/12.svg' alt='')
                //- a(href='#') Мебель из дерева
//= End deviceMenu =
= '\n'
