head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Patifon | #{pageTitle}

    link(rel='shortcut icon' href='favicon.png')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700&subset=cyrillic')

    link(rel='stylesheet' href=bowerDir + 'perfect-scrollbar/css/perfect-scrollbar.min.css')

    if (magnificPopup)
        link(rel='stylesheet' href=bowerDir + 'magnific-popup/dist/magnific-popup.css')

    if (tab)
        link(rel='stylesheet' href='css/tab' + minSuffix + '.css')

    if (rating)
        link(rel='stylesheet' href='css/rating' + minSuffix + '.css')

    if (select)
        link(rel='stylesheet' href='css/select' + minSuffix + '.css')

    if (select2)
        link(rel='stylesheet' href=bowerDir + 'select2/dist/css/select2.min.css')

    if (ionRangeSlider)
        link(rel='stylesheet' href=bowerDir + 'ionrangeslider/css/ion.rangeSlider.css')

    if (slick)
        link(rel='stylesheet' href=bowerDir + 'slick-carousel/slick/slick.css')

    if (owlCarousel)
        link(rel='stylesheet' href=bowerDir + 'owl.carousel/dist/assets/owl.carousel.min.css')

    if (croppie)
        link(rel='stylesheet' href=bowerDir + 'croppie/croppie.css')

    link(rel='stylesheet' href='css/main' + minSuffix + '.css')
= '\n'
