doctype html
html(lang='ru')
    head
        include partials/_head.pug
        title Extras
        include partials/_styles.pug

    body
        = '\n'
        // layout
        .layout
            .layout__header
                include modules/_header.pug

            .layout__body
                .layout__content
                    main.layout__main

                        = '\n'
                        // box
                        .box
                            .box__content
                                -
                                    let extras = [
                                        {
                                            label: 'Writer Level',
                                            list: [
                                                {
                                                    check: true,
                                                    name: 'Best Available',
                                                    value: 'Standard',
                                                    text: 'One of our freelancers, proficient in your subject area, ready to meet your deadline'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Top 10',
                                                    value: '+40%',
                                                    text: 'One of the top 10 experts with the highest customer appraisal in your subject'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Premium',
                                                    value: '+25%',
                                                    text: 'High-rank professional with extensive experience in your field of study'
                                                }
                                            ]
                                        },
                                        {
                                            label: 'Customer Service',
                                            list: [
                                                {
                                                    check: false,
                                                    name: 'Basic',
                                                    value: 'Standard',
                                                    text: 'Contact center agents available 24/7 over the phone and in chat'
                                                },
                                                {
                                                    check: true,
                                                    name: 'Advanced',
                                                    value: '$ 5.99',
                                                    text: 'A team of support agents update you on your order progress and communicate with your writer'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Premium',
                                                    value: '$ 9.99',
                                                    text: 'A dedicated support agent and QA specialist control your order quality and timely delivery'
                                                }
                                            ]
                                        },
                                        {
                                            label: 'More Services',
                                            list: [
                                                {
                                                    check: true,
                                                    name: 'Original Report',
                                                    value: '$29.99',
                                                    text: 'One of our freelancers, proficient in your subject area, ready to meet your deadline'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Proofread by Editor',
                                                    value: '$ 5.99',
                                                    text: 'A page of your paper will be checked and proofread by a Team of expert editors to eliminate possibility of a single mistake'
                                                },
                                                {
                                                    check: true,
                                                    name: '1-page summary',
                                                    value: '$14.99',
                                                    text: '1 page summary to add up your assignment, strongly recommended for extensive papers'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Urgent Writer Selection',
                                                    value: '$15.99',
                                                    text: 'We will assign a writer in a few minutes'
                                                },
                                                {
                                                    check: false,
                                                    name: 'Draft Delivery',
                                                    value: '+20%',
                                                    text: 'Get a draft before the paper is done to control its quality'
                                                }
                                            ]
                                        }
                                    ]

                                = '\n'
                                // extras
                                .extras
                                    .extras__title Extras
                                    each item in extras
                                        .extras__label= item.label
                                        .extras__list
                                            each val in item.list
                                                .extras__wrapper
                                                    .extras__item
                                                        .extras__data
                                                            label.extras__name
                                                                input.extras__input(type='checkbox' checked=val.check)

                                                                .extras__checker
                                                                .extras__inner
                                                                    .extras__caption= val.name
                                                                    .extras__value= val.value
                                                        .extras__text= val.text

                                    .extras__paragraph * Those extras that you selected will appear on the second step of your order. Here’s what you selected:
                                    .extras__info
                                        .extras__box
                                            .extras__txt Writers level: <b>Best Available</b> - <span>Standard</span>
                                            .extras__txt Customer Service: <b>Advanced</b> - <span>$5.99</span>
                                            .extras__txt More Services: <b>Original Report</b> - <span>$29.99</span>
                                            .extras__txt More Services: <b>1-Page Summary</b> - <span>$14.99</span>
                                        .extras__action
                                            a.extras__button.button.button--dark(href='#') Order Now

                                // end extras
                                = '\n'

                            .box__side
                                .box__item
                                    include modules/_getaprice.pug
                        // end box
                        = '\n'

            .layout__footer
                include modules/_footer.pug
                include modules/_promo.pug

        // end layout
        = '\n'
        include modules/_up.pug
        include modules/_cookies.pug
        include partials/_scripts.pug
