= '\n'
//= Career-inner =
-


    itemscope = (micromarking) ? true : false
    itemtype = (micromarking) ? 'http://schema.org/JobPosting' : false
    itemprop = (micromarking) ? 'organization' : false
.career-inner(itemscope= itemscope itemtype= itemtype)



    if (micromarking)
        -

            itemscope = (micromarking) ? true : false
            itemtype = (micromarking) ? 'http://schema.org/Organization' : false
            itemprop = (micromarking) ? 'hiringOrganization' : false
            itempropInnerJobPosting = (micromarking) ? 'specialCommitments' : false
            contentJobPosting = (micromarking) ? 'VeteranCommit' : false

            itempropInnerDatePosted = (micromarking) ? 'datePosted' : false
            itempropInnerTitle = (micromarking) ? 'title' : false
            itempropInnerDescription = (micromarking) ? 'description' : false
        .invisible(itemprop=itempropInnerDatePosted) 2018-06-18
        meta(itemprop= itempropInnerJobPosting content='2018-06-18')
        .invisible(itemscope= itemscope itemprop= itemprop itemtype=itemtype)
            span(itemprop="name") zagrava
            - itemprop = (micromarking) ? 'jobLocation' : false
            - itemtype = (micromarking) ? 'http://schema.org/Place' : false
        .invisible(itemscope= itemscope itemprop= itemprop  itemtype= itemtype)

            -
                itemscope = (micromarking) ? true : false
                itemtype = (micromarking) ? 'http://schema.org/PostalAddress' : false
                itemprop = (micromarking) ? 'address' : false
            span(itemprop= itemprop itemscope= itemscope itemtype= itemtype) Рівне
            meta(itemprop= itempropInnerDatePosted content= content)


    if (pageTitle === 'career-inner')
        h1.invisible(itemprop= itempropInnerTitle) UI/UX artist

    b(itemprop=itempropInner) Завданя:
    ul(itemprop= itempropInnerDescription)
        each prop in careeInnerTaskList
            li!= prop

    b Вимоги до кандидата:
    ul(itemprop= itempropInnerDescription)
        each prop in careeInnerRequirementsList
            li!= prop

    if (pageTitle !== 'career-inner')
        a.button.button--fill(href='career-inner.html') Відгукнутись


//= End career-inner =
= '\n'
