include vars/_variable.pug

= '\n'
//= Phone -> drop =
- modifier = (mobileMenu) ? ("phone__drop--mobile") : ''
.phone__drop(class = modifier)
    .phone__dropTop.hide-md-min
        .phone__link.phone__button.hide-mb-max (098) 453 40 40
        a.phone__link.phone__button.hide-xs-min(href='tel:0984534040') (098) 453 40 40
        .phone__box
            .phone__dropOperator Vodafone

    ul.phone__dropList

        each val in phoneDrop

            if ('viber' in val)
                li.phone__dropItem.phone__dropItem--viber
                    .phone__dropNumber.hide-mb-max= val.number
                    a.phone__dropNumber.hide-xs-min(href='tel:' + val.link)= val.number

                    if ('operator' in val)
                        .phone__dropOperator= val.operator

            else
                li.phone__dropItem
                    .phone__dropNumber.hide-mb-max= val.number
                    a.phone__dropNumber.hide-xs-min(href='tel:' + val.link)= val.number

                    if ('operator' in val)
                        .phone__dropOperator= val.operator
        li.phone__dropItem
            a.phone__link.phone__link--callback(href='#test-modal') Перезвонить мне

//= End phone -> drop =
= '\n'
