= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')
script(src=bowerDir + 'slick-carousel/slick/slick.min.js')
//- script(src=bowerDir + 'readmore-js/readmore.min.js')
script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.min.js')
//-script(src=bowerDir + 'parallax/src/parallax.js')

//- script(src=bowerDir + 'jquery-selectric/public/jquery.selectric.min.js')
//- script(src='assets/js/jquery.fs.selecter.min.js')
//- script(src='assets/js/modernizr.js')
script(src='assets/js/main' + minSuffix + '.js')

//- if (newsSlickInit)
//-     script.
//-         $(document).ready(function () {
//-             $('#newsSlick').slick({
//-                 infinite: false,
//-                 mobileFirst: true,
//-                 slidesToShow: 1,
//-                 slidesToScroll: 1,
//-                 responsive: [
//-                     {
//-                         breakpoint: 599,
//-                         settings: {
//-                             slidesToShow: 2,
//-                             slidesToScroll: 2
//-                         }
//-                     },
//-                     {
//-                         breakpoint: 1079,
//-                         settings: {
//-                             dots: true,
//-                             arrows: false,
//-                             slidesToShow: 3,
//-                             slidesToScroll: 3
//-                         }
//-                     }
//-                 ]
//-             });
//-         });


//= End scripts =
= '\n'
