head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    meta(property='og:url' content='')
    meta(property='og:type' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    meta(property='og:image' content='')

    title Sprinter-avto | #{pageTitle}

    link(rel='shortcut icon' href='16х16.ico')
    link(rel='apple-touch-icon' href='114x114.png' sizes='114x114')
    link(rel='apple-touch-icon' href='144x144.png' sizes='144x144')
    link(rel='icon' href='32x32.png' sizes='32x32' type='image/png')
    link(rel='icon' href='16x16.png' sizes='16x16' type="image/png")

    if (magnificPopup)
        link(rel='stylesheet' href=bowerDir + 'magnific-popup/dist/magnific-popup.css')

    if (ionRangeSlider)
        link(rel='stylesheet' href=bowerDir + 'ion.rangeslider/css/ion.rangeSlider.css')

    if (select2)
        link(rel='stylesheet' href=bowerDir + 'select2/dist/css/select2.min.css')

    if (swiper)
        link(rel='stylesheet' href=bowerDir + 'swiper/dist/css/swiper.min.css')


    link(rel='stylesheet' href='assets/css/main' + minSuffix + '.css')

    link(rel='stylesheet' href=bowerDir + 'perfect-scrollbar/css/perfect-scrollbar.min.css')
= '\n'
