= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')

script(src=bowerDir + 'perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')

script(src=bowerDir + 'swiper/dist/js/swiper.min.js')

if (magnificPopup)
    script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.min.js')

if (ionRangeSlider)
    script(src=bowerDir + 'ion.rangeslider/js/ion.rangeSlider.js')

if (select2)
    script(src=bowerDir + 'select2/dist/js/select2.full.min.js')

//- if (swiper)
//-     script(src=bowerDir + 'swiper/dist/js/swiper.min.js')

if (map)
    script(src="https://maps.googleapis.com/maps/api/js?key=")

script(src='assets/js/main' + minSuffix + '.js')


if (tab)
    script.
        $(document).ready(function () {
            $('.tab-menu').tab('');
        });

if (rating)
    script.
        $(document).ready(function () {
            $('.rating').rating({
                max: 5
            });
        });


if (magnificPopupVideo)
    script.
        $(document).ready(function () {
            $('.video').magnificPopup({
                type: 'iframe',
                iframe:{
                    markup: '<div class="mfp-iframe-scaler">'+
                    '<div class="mfp-close"></div>'+
                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                    '</div>',
                }
            });
        });

if (magnificPopupGallery)
    script.
        $(document).ready(function () {
            $('.gallery').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true,
                    tCounter: '%curr% of %total%'
                },
            });
        });

if (ionRangeSlider)
    script.
        $(document).ready(function () {

            $('#range').ionRangeSlider({
                type: 'double',
                min: 0,
                max: 20000,
                drag_interval: true,
                hide_min_max: true,
                hide_from_to: true
            });
        });

if (select2)
    script.
        $(document).ready(function () {
            $('select.form-control').select2({
                minimumResultsForSearch: Infinity
            });
        });

if (perfectScrollBar && select2)
    script.
        $(document).ready(function () {
            $('select.form-control').on("select2:open", function () {
                $('.select2-results__options').perfectScrollbar();
            });
        });

if (perfectScrollBar)
    script.
        $(document).ready(function () {
            $('.select2-results__options').perfectScrollbar();
        });

if (swiperPrimaryInit)
    script.
        $(document).ready(function () {
            var mySwiper = new Swiper('.swiper-container', {
                on: {
                    init: function() {
                        var data = $(this.el).data(),
                            breakpoints = ('breakpoints' in data) ? data.breakpoints : void(0);

                        this.params = Object.assign({}, this.params, data);


                        // Set current slidesPerView
                        if (typeof breakpoints !== 'undefined') {
                            let slidesPerView = 1;
                            for (let i in breakpoints) {
                                if ('slidesPerView' in breakpoints[i] && $(window).width() < i) {
                                    slidesPerView = breakpoints[i].slidesPerView;
                                }
                            }
                            this.params.slidesPerView = slidesPerView;
                        }

                        this.slides.css('width', '');

                        this.update();
                    },
                },
                spaceBetween: '2%',
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
        });


if (swiperInitWithDestroy)
    script.
        $(document).ready(function () {
        //swiper initwithDestroy
            var mySwiper = new Swiper('.swiper-parts', {
                on: {
                    init: function () {
                        var data = $(this.el).data(),
                            breakpoints = ('breakpoints' in data) ? data.breakpoints : void(0);

                        this.params = Object.assign({}, this.params, data);


                        // Set current slidesPerView
                        if (typeof breakpoints !== 'undefined') {
                            let slidesPerView = 1;
                            for (let i in breakpoints) {
                                if ('slidesPerView' in breakpoints[i] && $(window).width() < i) {
                                    slidesPerView = breakpoints[i].slidesPerView;
                                }
                            }
                            this.params.slidesPerView = slidesPerView;
                        }

                        this.slides.css('width', '');

                        this.update();
                    },
                },
                spaceBetween: '2%',
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
            //swiper destroy
            if (window.innerWidth >= 1080) {
                mySwiper.destroy();
            };
        });


if (swiperThumbsInit)
    script.
        $(document).ready(function () {

            var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 15,
                slidesPerView: 5,
                freeMode: false,
                watchSlidesVisibility: false,
                watchSlidesProgress: false,
                loop: true,
                navigation: {
                    nextEl: '.slider-next',
                    prevEl: '.slider-prev',
                },
                // Responsive breakpoints
                breakpointsInverse: true,
                breakpoints: {

                    320: {
                    slidesPerView: 2,
                    spaceBetween: 10
                    },

                    480: {
                    slidesPerView: 3,
                    spaceBetween: 30
                    },

                    600: {
                    slidesPerView: 4,
                    spaceBetween: 15
                    }
                }
            });
            var galleryTop = new Swiper('.gallery-top', {
                loop: false,
                loopedSlides: 5,
                spaceBetween: 0,
                thumbs: {
                    swiper: galleryThumbs
                }
            });

            let btnNext = '.slider-next',
                btnPrev = '.slider-prev';

            if ($('.gallery-thumbs .swiper-slide', this).length <= 4) {
                $(btnNext, this).remove();
                $(btnPrev, this).remove();
                $('.gallery-thumbs .swiper-wrapper', this).css('margin', 0)
                return;
            }
        });

if (map)
    script.
        $(document).ready(function() {
            function initMap() {
                let centerLatLng = new google.maps.LatLng(50.566322, 26.247276),
                    mapOptions = {
                        center: centerLatLng,
                        zoom: 14
                    },

                    map = new google.maps.Map(document.getElementById("map"), mapOptions),
                    marker = new google.maps.Marker({
                        position: centerLatLng,
                        map: map,
                        icon: "assets/images/contacts/marker.svg"
                    });
            }
            initMap();
        });

//= End scripts =
= '\n'
