include vars/_variable.pug

-
    pageTitle = 'Product page'
    breadcrumbs = ['Главная', 'Смартфоны', 'Huawei', 'Серия: Redmi Note 4x']

    tab = true
    rating = true
    select = true
    slick = true
    owlCarousel = true
    countdown = true
    reviewsPhotos = true

    tabList = tabProductPage
    catalog = catalogAccessories

    pageTabInit = true
    pageRatingInit = true
    catalogOwlCarousel = true

    debugscrollmagic = true
    scrollmagic = true
    tweenmax = true

doctype html
html

    include core/_head.pug

    body

        = '\n'
        //= Layout =
        #layout.layout.layout--promo

            include region/header/_header.pug
            include region/nav/_nav.pug

            //= Main =
            main#main.main
                .container
                    = '\n'
                    //= Section =
                    section.section
                        .section__top

                            include module/breadcrumbs/_breadcrumbs.pug

                            .row
                                .section__container.section__container--content
                                    h1.section__title.section__title--code Huawei Honor 9 4/64Gb (Blackyg)
                                    .section__code код товара:
                                        strong 2039

                        = '\n'
                        //= Tab =
                        .tab.tab--product
                            .tab-menu.tab-menu--product.hide-sm-max
                                ul.tab-list

                                    each val in tabList
                                        li.tab-item
                                            a.tab-link(href='#' + val.id)= val.title

                            .tab-content
                                #all.tab-box

                                    = '\n'
                                    //= Section =
                                    .section

                                        include module/product/_product.pug

                                    //= End section =
                                    = '\n'

                                    = '\n'
                                    //= Section =
                                    .section.hide-md-min

                                        .tab-menu.tab-menu--productDevice
                                            ul.tab-list

                                                each val, index in tabList
                                                    li.tab-item
                                                        a.tab-link(href='#' + val.id)= val.title

                                    //= End section =
                                    = '\n'

                                    //= Section =
                                    .section
                                        .row
                                            .section__container.section__container--col6

                                                = '\n'
                                                //= Section =
                                                .section
                                                    .section__top
                                                        h2.section__subtitle Вместе дешевле

                                                    include module/togetherCheaper/_togetherCheaper.pug

                                                //= End section =
                                                = '\n'

                                            .section__container.section__container--col6.hide-sm-max

                                                = '\n'
                                                //= Section =
                                                .section

                                                    - productAccessoriesOwlCarouselInit = true

                                                    .section__top
                                                        h2.section__subtitle Аксессуары

                                                    = '\n'
                                                    //= Catalog =
                                                    .catalog.catalog--product
                                                        .row
                                                            #productAccessories__owlCarousel.owl-carousel

                                                                - for (i = 0; i < 2; i++)

                                                                    each val in catalog

                                                                        = '\n'
                                                                        //= Item =
                                                                        .catalog__item
                                                                            .catalog__itemInner
                                                                                .catalog__itemImage
                                                                                    a.catalog__itemImageLink(href='#')
                                                                                        img(src='data/catalog/' + val.image + '.jpg' alt= val.title)

                                                                                .catalog__itemContent
                                                                                    .catalog__itemTitle
                                                                                        a.catalog__itemTitleLink(href='#')= val.title

                                                                                    .catalog__itemSection
                                                                                        .catalog__itemContainer.catalog__itemContainer--left

                                                                                            if ('priceOld' in val)
                                                                                                .catalog__itemPriceOld= val.priceOld

                                                                                            .catalog__itemPrice= val.price

                                                                                        .catalog__itemContainer.catalog__itemContainer--right
                                                                                            button.button.button--buy
                                                                                                span.button__text В корзину
                                                                        //= End item =

                                                                = '\n'

                                                    //= End catalog =
                                                    = '\n'

                                    //= End section =
                                    = '\n'


                                    //= Section =
                                    .section
                                        - mainReview = true
                                        include module/details/_details.pug

                                    //= End section =
                                    = '\n'

                                #characteristics.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details#productBarBox
                                            .row
                                                #productBar.details__container.details__container--right.hide-sm-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug

                                                .details__container.details__container--rightFixed
                                                    .details__containerInner
                                                        .details__section

                                                            - characteristicsFull = true

                                                            .details__sectionTop
                                                                h3.details__sectionTitle Технические характеристики

                                                            include module/details/module/characteristics/_characteristics.pug

                                        //= End details =
                                        = '\n'

                                #photo.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details
                                            .row
                                                .details__container.details__container--right.hide-sm-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug

                                                .details__container.details__container--rightFixed
                                                    .details__containerInner
                                                        .details__section

                                                            - photoFull = true

                                                            .details__sectionTop
                                                                h3.details__sectionTitle Фото

                                                            include module/details/module/photo/_photo.pug

                                        //= End details =
                                        = '\n'

                                #video.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details
                                            .row
                                                .details__container.details__container--right.hide-sm-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug

                                                .details__container.details__container--rightFixed
                                                    .details__containerInner
                                                        .details__section

                                                            - photoFull = true

                                                            .details__sectionTop
                                                                h3.details__sectionTitle Видеообзор

                                                            include module/details/module/video/_video.pug

                                        //= End details =
                                        = '\n'

                                #accessories.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details
                                            .row
                                                .details__container.details__container--right.hide-sm-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug

                                                .details__container.details__container--rightFixed
                                                    .details__containerInner
                                                        .details__section
                                                            .details__sectionTop
                                                                h3.details__sectionTitle Аксессуары

                                                            = '\n'
                                                            //= Catalog =
                                                            .catalog.catalog--grid
                                                                .row

                                                                    - for (i = 0; i < 2; i++)

                                                                        each val in catalog

                                                                            = '\n'
                                                                            //= Item =
                                                                            .catalog__item
                                                                                .catalog__itemInner
                                                                                    .catalog__itemImage
                                                                                        a.catalog__itemImageLink(href='#')
                                                                                            img(src='data/catalog/' + val.image + '.jpg' alt= val.title)

                                                                                    .catalog__itemContent
                                                                                        .catalog__itemTitle
                                                                                            a.catalog__itemTitleLink(href='#')= val.title

                                                                                        .catalog__itemSection
                                                                                            .catalog__itemContainer.catalog__itemContainer--left

                                                                                                if ('priceOld' in val)
                                                                                                    .catalog__itemPriceOld= val.priceOld

                                                                                                .catalog__itemPrice= val.price

                                                                                            .catalog__itemContainer.catalog__itemContainer--right
                                                                                                button.button.button--buy
                                                                                                    span.button__text В корзину
                                                                            //= End item =

                                                                        = '\n'

                                                            //= End catalog =
                                                            = '\n'

                                        //= End details =
                                        = '\n'

                                #reviews.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details
                                            .row
                                                .details__container.details__container--right.hide-sm-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug
                                                .details__container.details__container--rightFixed
                                                    .details__containerInner
                                                        .details__section

                                                            - reviewsFull = true

                                                            .details__sectionTop
                                                                .row
                                                                    .details__sectionTopContainer.details__sectionTopContainer--left
                                                                        h3.details__sectionTitle Отзывы покупателей

                                                                    .details__sectionTopContainer.details__sectionTopContainer--right.hide-sm-max

                                                                        = '\n'
                                                                        //= Sort =
                                                                        .sort
                                                                            .sort__title Сортировка:

                                                                            .sort__container
                                                                                a.sort__link.sort__button(href='javascript:void(0);') По дате

                                                                                .sort__drop
                                                                                    ul.sort__list

                                                                                        each val in ['По дате', 'Самые полезные']
                                                                                            li.sort__item
                                                                                                a.sort__link(href='#')= val

                                                                        //= End sort =
                                                                        = '\n'


                                                            include module/details/module/reviews/_reviews.pug

                                                            include module/pagination/_pagination.pug
                                                            
                                                            include module/details/module/write/_write.pug

                                                        .details__section.details__section--separate

                                                            .details__sectionTop
                                                                .row
                                                                    .details__sectionTopContainer.details__sectionTopContainer--left
                                                                        h3.details__sectionTitle Отзыв о Мышь Genius NX-7010 Wireless Green (31030114108):

                                                                    .details__sectionTopContainer.details__sectionTopContainer--right.hide-sm-max

                                                                        a.reviews__all(href='javascript:void(0);') Все отзывы


                                                            include module/details/module/reviews/_reviews.pug

                                                            span Вы можете 
                                                                a(href='javascript:void(0);') оставить свой отзыв о товаре
                                                                |  или 
                                                                a(href='javascript:void(0);') написать комментарий

                                        //= End details =
                                        = '\n'

                                #patifonMaster.tab-box
                                    .tab-boxTop
                                        a.tab-boxBack.hide-md-min(href='javascript:void(0);') Назад

                                    .tab-boxContent
                                        = '\n'
                                        //= Details =
                                        .details
                                            .row
                                                .details__container.details__container--right.hide-md-max
                                                    .details__section
                                                        .details__sectionTop
                                                            h3.details__sectionTitle Ваш товар

                                                        include module/details/module/productBar/_productBar.pug

                                                .details__container.details__container--rightFixed.details__container--mdFullWidth
                                                    .details__containerInner
                                                        .details__section
                                                            .details__sectionTop
                                                                h3.details__sectionTitle Пакеты настроек
                                                            include module/details/module/settingsPackages/_settingsPackages.pug

                                        //= End details =
                                        = '\n'

                        //= End tab =
                        = '\n'

                    //= End section =
                    = '\n'
                
                = '\n'
                //= Promo =

                .promo

                    - valentine = false

                    .layout__promo
                        .layout__promo-wrapper
                            .layout__promo-logo
                                .logo.logo--promo
                                    a.logo__link
                                        img(src='data/promo/logo--promo.svg' alt='Patifon')
                                a.layout__promo-phone(href='tel:+380632495002') (063) 249 50 02
                            .layout__promo-buy
                                span Samsung Galaxy S10
                                .layout__promo-price 15 999 грн
                                a.button.button--buy(href='javascript:void(0);')
                                    span.button__text В корзину

                    section#head.promo__trigger
                        .promo__text
                            h4 Дизайн
                            p Samsung Galaxy S10 имеет лаконичный, но очень стильный дизайн. Данный смартфон выполнен в форме классического моноблока. Верхнюю часть корпуса полностью занимает без рамочный дисплей. Задняя крышка смартфона изготовлена из гладкой керамики, и по всему периметру оправлена полированным металлическим ободком. Управлять смартфоном - одно удовольствие, поскольку все органы управления находятся в удобных местах. Каждый пользователь сможет выбрать под себя цвет корпуса смартфона. Samsung Galaxy S10 поступают в продажу в нескольких цветовых исполнениях. Корпус данного смартфона имеет продуманную конструкцию, и телефон максимально удобно лежит в руке. Уже сегодня можно заказать и 
                                strong купить смартфон Samsung Galaxy S10 на сайте 
                                    a(href='https://patifon.ua') patifon.ua
                                |.
                        img(src='data/promo/galaxy-s10.jpg', alt='')
                        span.promo__trigger-main
                        span.promo__trigger-screen

                    section#presentation.promo__box.promo__trigger
                        .promo__presentation
                            img.reverse(src='data/promo/s10_vertical.jpg', alt='')
                            p s10
                            img.forward(src='data/promo/s10_rotate.jpg', alt='')

                    section#screen.promo__box.promo__trigger
                        .promo__inner.promo__inner--screen
                            div
                                img.smooth(src='data/promo/amoled.jpg', alt='')
                                img.skew(src='data/promo/amoled2.jpg', alt='')
                            .promo__text.promo__text--screen
                                h4 Экран
                                p Samsung Galaxy S10 оборудован гигантским Quad HD+ дисплеем. Экран смартфона имеет диагональ 6,1 дюйма, и отображает 16 миллионов цветов. Этот дисплей сделан по технологии Dynamic AMOLED, что позволяет отображать довольно четкую и контрастную картинку. Экран Samsung Galaxy S10 снабжен мощной подсветкой, которая позволяет считывать информацию с экрана даже в условиях интенсивного освещения. На поверхности экрана, в правом верхнем углу, расположен модуль сдвоенной фронтальной фотокамеры. Также на площади этого модуля находятся датчик приближения и датчик освещенности. Экран смартфона защищен сверху каленым стеклом Gorilla Glass 6.
                        span.promo__scroll
                            span.promo__scroll-mouse
                            .promo__scroll-text scroll

                    section#protect.promo__box.promo__trigger
                        .promo__inner.promo__inner--protect
                            img(src='data/promo/performance_bio_pd3.png', alt='')
                            .promo__text.promo__text--protect
                                h4 Ультразвук защищает
                                p Samsung Galaxy S10 оснащен ультразвуковым дактилоскопическим сканером. Этот сканер за несколько миллисекунд проведет 3D-сканирование вашего пальца, и устройство тут же разблокируется. 3D ультразвуковое сканирование позволяет безошибочно определять отпечаток владельца.

                    section#charger.promo__box.promo__trigger
                        .promo__inner.promo__inner--charger
                            .promo__text.promo__text--charger
                                h4 Беспроводные зарядные технологии
                                p Samsung Galaxy S10 поддерживает технологию беспроводной зарядки Qi. Данная технология позволяет не только заряжать смартфон беспроводным способом, но также и делиться зарядом батареи смартфона с другими устройствами, которые адаптированы к этой технологии. Чтобы зарядить устройство беспроводным способом от вашего смартфона, нужно это устройство просто положить на заднюю крышку Samsung Galaxy S10. Также этот смартфон поддерживает технологию быстрой зарядки 2.0, что позволит зарядить телефон буквально в считанные минуты. Для быстрой беспроводной зарядки применяется мультизарядное устройство, и достаточно сверху на это устройство положить Samsung Galaxy S10, чтобы начать цикл заряда батареи.
                            img(src='data/promo/charger.jpg', alt='')
                        span.promo__scroll
                            span.promo__scroll-mouse
                            .promo__scroll-text scroll

                    section#hardware.promo__box.promo__trigger
                        .promo__inner.promo__inner--hardware
                            .promo__text.promo__text--hardware
                                h4 Аппаратная часть
                                p Мощный чипсет смартфона Samsung Galaxy S10 оснащен восьми ядерным процессором и продвинутым видео ускорителем. Быстрый процессор позволяет решать любые, даже самые трудоемкие задачи, а мощный видеоадаптер делает из смартфона довольно серьёзную игровую станцию. Возможностей видео ускорителя смартфона Samsung Galaxy S10 с лихвой хватит для того, чтобы играть в самые «тяжёлые» современные игры. Аппаратных возможностей данного смартфона будет достаточно даже для работы в нескольких приложениях - одновременно. Всё это благодаря большому объему оперативной памяти. Для хранения программ и контента у Samsung Galaxy S10 имеется довольно объемное хранилище, размеры которого можно увеличивать при помощи карт памяти.
                            .promo__images
                                img(src='data/promo/performance_processor.jpg', alt='')
                                img.blinking(src='data/promo/performance_processor_on.jpg', alt='')

                    section#cooling.promo__box.promo__trigger
                        .promo__inner.promo__inner--cooling
                            .promo__text.promo__text--cooling
                                h4 Инновационное охлаждение
                                p Быстродействие Samsung Galaxy S10 подкреплено довольно эффективной и продуманной системой охлаждения. Тепло от комплектующих отводится настолько оперативно, что смартфон можно использовать в режиме максимальной нагрузки - в течение нескольких часов. Это может быть, как работа в энергоемких приложениях, так и многочасовой гейминг.
                        img(src='data/promo/performance_gaming_hardware.png', alt='')

                    section#assistant.promo__trigger
                        .promo__inner.promo__inner--assistant
                            .promo__text.promo__text--assistant
                                h4 Мобильный ассистент
                                p Samsung Galaxy S10 обладает искусственным интеллектом. Смартфон тщательно изучает вашу манеру использования тех или иных приложений, и в нужное время предложит своему владельцу запустить полюбившуюся программу или игру. Также искусственный интеллект Samsung Galaxy S10 самостоятельно настроит все параметры для оптимальной работы и энергопотребления. 
                                    strong Купить смартфон Samsung Galaxy S10 можно на сайте 
                                        a(href='https://patifon.ua') patifon.ua
                                        |, по очень доступной цене
                            img(src='data/promo/mobile_assistant.jpg', alt='')         

                //= End promo =
                = '\n'
                
                = '\n'
                //= Section =
                //-section.section

                    - tabList = tabSimilarProducts
                    - catalog = catalogMain

                    .section__top
                        h1.section__title Похожие товары

                    = '\n'
                    //= Tab =
                    .tab
                        .tab-menu.tab-menu--product.tab-menu--noBorder
                            ul.tab-list

                                each val in tabList
                                    li.tab-item
                                        a.tab-link(href='#' + val.id)= val.title

                        .tab-content
                            #cases.tab-box

                                = '\n'
                                //= Section =
                                .section

                                    = '\n'
                                    //= Catalog =
                                    .catalog
                                        .row
                                            .catalog__owlCarousel.owl-carousel

                                                - for (i = 0; i < 2; i++)

                                                    each val in catalog

                                                        include module/catalog/module/item/_item.pug

                                                = '\n'

                                    //= End catalog =
                                    = '\n'

                                //= End section =
                                = '\n'


                            #headphones.tab-box

                                = '\n'
                                //= Section =
                                .section

                                    = '\n'
                                    //= Catalog =
                                    .catalog
                                        .row
                                            .catalog__owlCarousel.owl-carousel

                                                - for (i = 0; i < 2; i++)

                                                    each val in catalog

                                                        include module/catalog/module/item/_item.pug

                                                = '\n'

                                    //= End catalog =
                                    = '\n'

                                //= Section =
                                = '\n'

                            #cleaners.tab-box

                                = '\n'
                                //= Section =
                                .section

                                    = '\n'
                                    //= Catalog =
                                    .catalog
                                        .row
                                            .catalog__owlCarousel.owl-carousel

                                                - for (i = 0; i < 2; i++)

                                                    each val in catalog

                                                        include module/catalog/module/item/_item.pug

                                                = '\n'

                                    //= End catalog =
                                    = '\n'

                                //= End section =
                                = '\n'

                            #smartWatches.tab-box

                                = '\n'
                                //= Section =
                                .section

                                    = '\n'
                                    //= Catalog =
                                    .catalog
                                        .row
                                            .catalog__owlCarousel.owl-carousel

                                                - for (i = 0; i < 2; i++)

                                                    each val in catalog

                                                        include module/catalog/module/item/_item.pug

                                                = '\n'

                                    //= End catalog =
                                    = '\n'

                                //= End section =
                                = '\n'

                            #accessories1.tab-box

                                = '\n'
                                //= Section =
                                .section

                                    = '\n'
                                    //= Catalog =
                                    .catalog
                                        .row
                                            .catalog__owlCarousel.owl-carousel

                                                - for (i = 0; i < 2; i++)

                                                    each val in catalog

                                                        include module/catalog/module/item/_item.pug

                                                = '\n'

                                    //= End catalog =
                                    = '\n'

                                //= End section =
                                = '\n'

                    //= End tab =
                    = '\n'

                //= End section =
                = '\n'

            //= End main =
            = '\n'

        //= End layout =

        include region/footer/_footer.pug

        = '\n'
        //= Modal =
        .modal.white-popup-block.mfp-hide#test-modal

            .modal__content

                include module/details/module/characteristics/module/info/_info.pug

        //= End modal =
        = '\n'

        include core/_script.pug

        script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.js')
        script.
            $(document).ready(function () {

                $('.characteristics__name-info').magnificPopup({
                    type: 'inline',
                    preloader: false,
                    modal: true
                });

                $(document).on('click', '.info__close', function (e) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                let timerID;

                $(document).on('click', '.menu__link--empty', function (e) {
                    e.preventDefault();
                    clearTimeout(timerID);
                    let srcImg = $(this).data('img'),
                        menuDrop = $(this).closest('.menu').find('.menu__drop');

                    menuDrop.fadeIn().find('img').attr('src', srcImg);
                    timerID = setTimeout(function () {
                        $(menuDrop).fadeOut();
                    },5000);
                });

                $('.countdown').final_countdown({
                        
                });

                if($('.layout--promo').length > 0) {
            
                    var documentHeight = $(document).height(),
                    footer = $('#footer');

                    if ($(footer).length) {
                        $(footer).css({'top': documentHeight});
                    }
                }
            });
