= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')
//-script(src=bowerDir + 'slick-carousel/slick/slick.min.js')
script(src=bowerDir + 'swiper/dist/js/swiper.min.js')
//-script(src=bowerDir + 'scrollify/jquery.scrollify.js')

//ScrollMagic
script(src=bowerDir + 'scrollmagic/assets/js/lib/greensock/TweenMax.min.js')
script(src=bowerDir + 'scrollmagic/scrollmagic/minified/ScrollMagic.min.js')
script(src=bowerDir + 'scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js')
//-Это позволяет вам добавлять визуальные индикаторы на вашу страницу, чтобы иметь возможность точно видеть, когда сцена запускается.
//-script(src=bowerDir + 'scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js')
script(src=bowerDir + 'greensock/src/minified/plugins/ScrollToPlugin.min.js')
script(src='assets/js/main' + minSuffix + '.js')

//= End scripts =
= '\n'
