head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    meta(property='og:url' content='')
    meta(property='og:type' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    meta(property='og:image' content='')

    title ua-development | #{pageTitle}

    link(rel='shortcut icon' href='icon.ico')
    link(rel='apple-touch-icon' href='favicon_114x114.png' sizes='114x114')
    link(rel='apple-touch-icon' href='favicon_144x144.png' sizes='144x144')
    link(rel='icon' href='favicon_32x32.png' sizes='32x32' type='image/png')
    link(rel='icon' href='favicon_16x16.png' sizes='16x16' type="image/png")

    if (magnificPopup)
        link(rel='stylesheet' href=bowerDir + 'magnific-popup/dist/magnific-popup.css')

    if (modaal)
        link(rel='stylesheet' href=bowerDir + 'modaal/dist/css/modaal.min.css')

    if (ionRangeSlider)
        link(rel='stylesheet' href=bowerDir + 'ion.rangeslider/css/ion.rangeSlider.css')

    if (select2)
        link(rel='stylesheet' href=bowerDir + 'select2/dist/css/select2.min.css')

    if (swiper)
        link(rel='stylesheet' href=bowerDir + 'swiper/dist/css/swiper.min.css')
        
    if (mCustomScrollbar)
        link(rel='stylesheet' href=bowerDir + 'malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')    
    
    if (slick)
        link(rel='stylesheet' href=bowerDir + 'slick-carousel/slick/slick.css')
    
    link(rel='stylesheet' href='css/main' + minSuffix + '.css')
= '\n'
