include vars/_variable.pug

-
    productSlickInit = true
    countdown - true

='\n'
//= Product =
.product
    .row
        .product__container.product__container--image
            .product__image
                .catalog__itemSpecial
                    ul.catalog__itemSpecialList

                        each item in special
                            li.catalog__itemSpecialItem
                                .catalog__itemSpecialContent(class='catalog__itemSpecialContent--' + item.class)= item.title

                include ../catalog/module/delivery/_delivery.pug

                #product__slick.slick

                    - for (i = 0; i < 6; i++)
                        .slick-item
                            a.product__imageLink(href='#0')
                                img(src='data/product/image.jpg' alt='')

                .product__imagePagination.hide-mb-max
                    .product__imagePaginationInner
                        #product__slickPagination.slick

                            - for (i = 0; i < 4; i++)
                                .slick-item
                                    a.product__imagePaginationLink(href='#0')
                                        img(src='data/product/image2.jpg' alt='')

                .product__logo
                    img(src='data/product/huawei.png' alt='Huawei')

        .product__container.product__container--data
            .row
                include ../product/module/promotion/_promotion.pug
                include ../product/module/promotion/_promotion.pug


                .product__container.product__container--buy
                    .product__section.hide-lg-min
                        .row
                            .product__container.product__container--color
                                .product__color
                                    .product__colorTitle
                                        a.product__colorTitleLink(href='javascript:void(0);') Цвета:

                                    .product__colorContainer
                                        ul.product__colorList

                                            each val in productColor

                                                li.product__colorItem

                                                    - modifier = ('class' in val) ? 'product__colorLink--' + val.class : ''

                                                    if ('active' in val && val.active)

                                                        if (val.color == '#fff')
                                                            a.product__colorLink.product__colorLink--active(href='javascriot:void(0);')
                                                                .product__colorImage.border(style='background-color: ' + val.color)
                                                                .product__colorText= val.text

                                                        else
                                                            a.product__colorLink.product__colorLink--active(href='javascriot:void(0);')
                                                                .product__colorImage(style='background-color: ' + val.color)
                                                                .product__colorText= val.text

                                                    else

                                                        if (val.color == '#fff')
                                                            a.product__colorLink(href='#0' class= modifier)
                                                                span.product__colorImage.border(style='background-color: ' + val.color)

                                                        else
                                                            a.product__colorLink(href='#0' class= modifier)
                                                                span.product__colorImage(style='background-color: ' + val.color)

                            .product__container.product__container--size
                                .product__size
                                    .product__sizeTitle
                                        a.product__sizeTitleLink(href='javascript:void(0);') Память:

                                    .product__sizeContainer
                                        ul.product__sizeList

                                            each val in productSize
                                                li.product__sizeItem

                                                    if ('active' in val && val.active)
                                                        a.product__sizeLink.product__sizeLink--color(href='#0' title= val.text)= val.text

                                                    else
                                                        a.product__sizeLink(href='#0' title= val.text)= val.text

                    .product__section.hide-lg-min
                        .product__feature
                            .product__featureContent
                                a.product__featureLink(href='#0') Разрешение 5.0" IPS (1280x720)
                                |  /
                                a.product__featureLink(href='#0') Процессор 4 ядра (1.3 Ггц)
                                |  /
                                a.product__featureLink(href='#0') Память 16 Gb + microSD до 64 Gb
                                |  /
                                a.product__featureLink(href='#0') ОЗУ 1 Gb
                                |  /
                                a.product__featureLink(href='#0') 3G Есть
                                |  /
                                a.product__featureLink(href='#0') Аккумулятор 2000 мА*ч
                                |  /
                                a.product__featureLink(href='#0') Камера 8 Мп + 2 Мп
                                |  /
                                a.product__featureLink(href='#0') OC Android 6.0

                    .product__buy
                        .product__inStock.product__inStock--yes Есть в наличии

                        .row
                            .product__container.product__container--priceLeft
                                .product__price
                                    span.product__priceSum 19 600
                                    |  грн

                            .product__container.product__container--priceContent
                                .product__priceOld
                                    .product__priceOldSum 22 058 грн
                                    | Экономь 790 грн

                        .row
                            .product__container.product__container--creditLeft
                                .product__paymentInInstallments от
                                    span.product__paymentInInstallmentsSum 560
                                    |  грн / мес.
                                

                        .product__options
                            //.product__optionsItem
                            //    .product__optionsItemContainer.product__optionsItemContainer--left
                            //        span.arrow.arrow-rotate
                            //        .checkbox.checkbox--small
                            //            .checkbox-title Программы
                            //    .slide-menu
                            //        include ../product/module/services/_services.pug

                            each val in productOptions
                                .product__optionsItem
                                    input(type='hidden')

                                    .product__optionsItemContainer.product__optionsItemContainer--left
                                        .checkbox.checkbox--small
                                            //-label
                                                input.checkbox-input(type='checkbox')
                                                i.checkbox-icon
                                            .checkbox-title= val.title
                                        a(href='javascript:void(0);') Показать список пакетов

                                    //-.product__optionsItemContainer.product__optionsItemContainer--right
                                        .product__optionsPrice= val.price

                                    .product__optionsItemContainer.product__optionsItemContainer--fixed
                                        .product__optionsItemContainerInner


                                            if ('select' in val)
                                                .select
                                                    .select-button(href='javascript:void(0);')= val.select[0].title

                                                    .select-drop
                                                        ul.select-list

                                                            each select, index in val.select

                                                                if (index == 0)

                                                                    if ('image' in select)
                                                                        li.select-item.image.active= select.title
                                                                            .select-image
                                                                                img(src='data/product/select/' + select.image + '.jpg')

                                                                    else
                                                                        li.select-item.active= select.title

                                                                else

                                                                    if ('image' in select)
                                                                        li.select-item.image= select.title
                                                                            .select-image
                                                                                img(src='data/product/select/' + select.image + '.jpg')

                                                                    else
                                                                        li.select-item= select.title

                            .product__optionsHide

                                each val in productOptions
                                    .product__optionsItem
                                        input(type='hidden')

                                        .product__optionsItemContainer.product__optionsItemContainer--left
                                            .checkbox.checkbox--small
                                                label
                                                    input.checkbox-input(type='checkbox')
                                                    i.checkbox-icon
                                                    .checkbox-title= val.title

                                        .product__optionsItemContainer.product__optionsItemContainer--right
                                            .product__optionsPrice= val.price

                                        .product__optionsItemContainer.product__optionsItemContainer--fixed
                                            .product__optionsItemContainerInner

                                                if ('select' in val)
                                                    .select
                                                        .select-button(href='javascript:void(0);')= val.select[0].title

                                                        .select-drop
                                                            ul.select-list

                                                                each select, index in val.select

                                                                    if (index == 0)

                                                                        if ('image' in select)
                                                                            li.select-item.image.active= select.title
                                                                                .select-image
                                                                                    img(src='data/product/select/' + select.image + '.jpg')

                                                                        else
                                                                            li.select-item.active= select.title

                                                                    else

                                                                        if ('image' in select)
                                                                            li.select-item.image= select.title
                                                                                .select-image
                                                                                    img(src='data/product/select/' + select.image + '.jpg')

                                                                        else
                                                                            li.select-item= select.title


                            a.product__optionsMore(href='javascript:void(0);')
                                span.product__optionsMoreText(data-text='Скрыть дополнительные сервисы') Еще 2 дополнительных сервиса

                        .product__button
                            button.button.button--buy
                                span.button__text Купить

                        .product__credit
                            a.product__creditLink(href='#0') Купить в кредит

                        .product__oneClick
                            .product__oneClickContainer.product__oneClickContainer--input
                                input.product__oneClickText(type='text' placeholder='+38 (___) ___–__–__')

                            .product__oneClickContainer.product__oneClickContainer--button
                                button.button.button--buy.disabled 
                                    span.button__text Купить в 1 клик

                .product__container.product__container--center
                    .product__section.hide-md-max
                        .row
                            .product__container.product__container--color
                                .product__color
                                    .product__colorTitle
                                        a.product__colorTitleLink(href='javascript:void(0);') Цвета:

                                    .product__colorContainer
                                        ul.product__colorList

                                            each val in productColor
                                                li.product__colorItem
                                                    - modifier = ('class' in val) ? 'product__colorLink--' + val.class : ''

                                                    if ('active' in val && val.active)

                                                        if (val.color == '#fff')
                                                            a.product__colorLink.product__colorLink--active(href='javascriot:void(0);')
                                                                .product__colorImage.border(style='background-color: ' + val.color)
                                                                .product__colorText= val.text

                                                        else
                                                            a.product__colorLink.product__colorLink--active(href='javascriot:void(0);')
                                                                .product__colorImage(style='background-color: ' + val.color)
                                                                .product__colorText= val.text

                                                    else

                                                        if (val.color == '#fff')
                                                            a.product__colorLink(href='#0' class= modifier)
                                                                span.product__colorImage.border(style='background-color: ' + val.color)

                                                        else
                                                            a.product__colorLink(href='#0' class= modifier)
                                                                span.product__colorImage(style='background-color: ' + val.color)

                            .product__container.product__container--size
                                .product__size
                                    .product__sizeTitle
                                        a.product__sizeTitleLink(href='javascript:void(0);') Память:

                                    .product__sizeContainer
                                        ul.product__sizeList

                                            each val in productSize
                                                li.product__sizeItem

                                                    if ('active' in val && val.active)
                                                        a.product__sizeLink.product__sizeLink--color(href='#0' title= val.text)= val.text

                                                    else
                                                        a.product__sizeLink(href='#0' title= val.text)= val.text

                    .product__section.hide-md-max
                        .product__feature
                            .product__featureContent
                                a.product__featureLink(href='#0') Разрешение 5.0" IPS (1280x720)
                                |  /
                                a.product__featureLink(href='#0') Процессор 4 ядра (1.3 Ггц)
                                |  /
                                a.product__featureLink(href='#0') Память 16 Gb + microSD до 64 Gb
                                |  /
                                a.product__featureLink(href='#0') ОЗУ 1 Gb
                                |  /
                                a.product__featureLink(href='#0') 3G Есть
                                |  /
                                a.product__featureLink(href='#0') Аккумулятор 2000 мА*ч
                                |  /
                                a.product__featureLink(href='#0') Камера 8 Мп + 2 Мп
                                |  /
                                a.product__featureLink(href='#0') OC Android 6.0

                            ul.product__featureList

                                each val in productFeature
                                    li.featureItem
                                        i.product__featureIcon(class='product__featureIcon--' + val.class)

                                            if ('iconText' in val)
                                                = val.iconText

                                        if ('title' in val)
                                            = val.title

                    .product__section
                        .product__menu
                            ul.product__menuList
                                li.product__menuItem
                                    a.product__menuLink.product__menuLink--review(href='#0')
                                        span.product__menuLinkBorder
                                            span.product__menuText 20 отзывов

                                        .product__rating.rating.ratingInit
                                            input(type='hidden' value='2')

                                li.product__menuItem
                                    a.product__menuLink.product__menuLink--comparison(href='#0')
                                        span.product__menuLinkBorder
                                            span.product__menuText Добавить
                                                br
                                                | в сравние

                                li.product__menuItem
                                    a.product__menuLink.product__menuLink--myFavorites(href='#0')
                                        span.product__menuLinkBorder
                                            span.product__menuText В список
                                                br
                                                | желаний

                    .product__section
                        .product__info
                            .row
                                .product__infoContainer.product__infoContainer--delivery
                                    h2 Доставка
                                    p
                                        em Заказы оформленные до 16:00 отправляем в день заказа
                                    p
                                        strong Регионы – «Нова пошта»

                                    ul
                                        li
                                            span.left Оплата при получении
                                            span.right
                                                strong +100 грн

                                        li
                                            span.left При 100% предоплате
                                                br
                                                | (комиссия +1%)
                                            span.right
                                                strong +40 грн

                                .product__infoContainer.product__infoContainer--guarantee
                                    h2 Гарантия
                                    p Официальная
                                        strong 12 мес.
                                        br
                                        | Обмен/возврат
                                        strong 14 дней
                                        br
                                        | На все смартфоны, купленные в нашем интернет-магазине «Patifon.com.ua», действует гарантия.



    .product__colorDrop

        - for (i = 0; i < 2; i++)

            each val, index in productColorDrop

                if (index == 0)
                    .product__colorDropItem.product__colorDropItem--active
                        a.product__colorDropImage(href='#0')
                            img(src='data/product/' + val.image + '.jpg' alt='')

                            span.product__colorDropColor
                                span.product__colorDropColorContent(style='background: ' + val.color)
                                span.product__colorDropColorTitle= val.colorTitle

                        .product__colorDropTitle
                            a.product__colorDropTitleLink(href='#0')= val.title

                        .product__colorDropPrice= val.price

                else
                    .product__colorDropItem
                        a.product__colorDropImage(href='#0')
                            img(src='data/product/' + val.image + '.jpg' alt='')

                            span.product__colorDropColor
                                span.product__colorDropColorContent(style='background: ' + val.color)
                                span.product__colorDropColorTitle= val.colorTitle

                        .product__colorDropTitle
                            a.product__colorDropTitleLink(href='#0')= val.title

                        .product__colorDropPrice= val.price

    .product__sizeDrop

        each val, index in productSizeDrop

            if (index == 0)
                .product__sizeDropItem.product__sizeDropItem--active
                    a.product__sizeDropImage(href='#0')
                        img(src='data/product/' + val.image + '.jpg' alt='')

                    .product__sizeDropTitle
                        a.product__sizeDropTitleLink(href='#0')= val.title

                    .product__sizeDropPrice= val.price

            else
                .product__sizeDropItem
                    a.product__sizeDropImage(href='#0')
                        img(src='data/product/' + val.image + '.jpg' alt='')

                    .product__sizeDropTitle
                        a.product__sizeDropTitleLink(href='#0')= val.title

                    .product__sizeDropPrice= val.price

//= End product =
='\n'

