mixin catalogCarousel(data)
    = '\n'
    //= Catalog =
    .carousel
        .catalog
            ul.carousel__list
                - for (var i = 0; i < 2; i++)
                    each val in data
                        .catalog__item
                            .catalog__item-inner
                                a.catalog__picture(href='#')
                                    img(src='data/goods/' + val.image + '.png' alt=val.alt)

                                    if (val.calendar)
                                        .calendar.calendar--tooltip
                                            .calendar__drop Можно заказать на завтра и позже

                                    if (val.status)
                                        .status
                                            each status in val.status
                                                .status__item(class='status__item--' + status.class)

                                .catalog__title
                                    a.catalog__link(href='#' title=val.title)= val.title


                                if (!val.absent)
                                    .price.catalog__price
                                        //- span.price__title Цена:!{' '}

                                        if (val.oldprice !== undefined)
                                            span.price__old= val.oldprice
                                        span.price__number= val.price
                                            |!{' '}
                                        span.price__postfix грн/шт.

                                    button.catalog__button= val.button



                                else
                                    .catalog__absent.catalog__absent--absent
                                    //(class='catalog__absent--' + val.absent)
                                    button.catalog__button.catalog__button--absent Сообщите о наличии
                                //else
                                    .catalog__absent


            .carousel__controls
                a.carousel__btn.carousel__btn--prev(href='javascript:void(0)')
                a.carousel__btn.carousel__btn--next(href='javascript:void(0)')
    //= End catalog =
    = '\n'

mixin catalog(data, className)
    - var className = (!className) ? 'catalog--main' : 'catalog--' + className;
    = '\n'
    //= Catalog =
    .catalog(class=className)
        - for (var i = 0; i < 2; i++)
            each val in data
                .catalog__item
                    .catalog__item-inner
                        a.catalog__picture(href='#')
                            img(src='data/goods/' + val.image + '.png' alt=val.alt)

                            if (val.calendar)
                                .calendar.calendar--tooltip
                                    .calendar__drop Можно заказать на завтра и позже

                            if (val.status)
                                .status
                                    each status in val.status
                                        .status__item(class='status__item--' + status.class)

                        if (val.favorites)
                            .favorites
                                a.favorites__liked.--active(href="javascript:void(0)")
                                a.favorites__link(href="javascript:void(0)")
                        .catalog__title
                            a.catalog__link(href='#' title=val.title)= val.title


                        if (!val.absent)
                            .price.catalog__price
                                //- span.price__title Цена:!{' '}

                                if (val.oldprice !== undefined)
                                    span.price__old= val.oldprice
                                span.price__number= val.price
                                    |!{' '}
                                span.price__postfix грн/шт.

                            button.catalog__button= val.button



                        else
                            .catalog__absent.catalog__absent--absent
                            //(class='catalog__absent--' + val.absent)
                            button.catalog__button.catalog__button--absent Сообщите о наличии
                        //else
                            .catalog__absent
                            button.catalog__button= val.button

    //= End catalog =
    = '\n'
