-
    var primarySlider = [
        {
            image: 'baners-1',
            name: 'Личний кабинет',
            class: 'avatar'
        },
        {
            image: 'baners-2',
            name: 'Ваша экономия',
            class: 'bag'
        },
        {
            image: 'baners-3',
            name: 'Бесплатная доставка',
            class: 'truck'
        },
        {
            image: 'baners-4',
            name: 'Выгодное соседство',
            class: 'map'
        },
        {
            image: 'baners-1',
            name: 'Новинки сайта',
            class: 'avatar'
        }
    ]

    var secondarySlider = [
        {
            image: '7',
            alt: 'Красная икра малосольная',
            title: 'Арахисовая паста',
            description: 'изюм-корица 300г',
            price: '65',
        },
        {
            image: '7',
            alt: 'Красная икра малосольная',
            title: 'Арахисовая паста',
            description: 'изюм-корица 300г',
            price: '65',
        },
        {
            image: '7',
            alt: 'Красная икра малосольная',
            title: 'Арахисовая паста',
            description: 'изюм-корица 300г',
            price: '65',
        },
        {
            image: '7',
            alt: 'Красная икра малосольная',
            title: 'Арахисовая паста',
            description: 'изюм-корица 300г',
            price: '65',
        }
    ]

= '\n'
//= Promotional =
.promotional.promotional--active
    .promotional__slider

        ul#sl_main
            each val in primarySlider
                li
                    img.promotional__image(src='data/slider/' + val.image + '.jpg' alt=val.image)

        #sl_main__pager.bx__pager
            - var i = 0

            each val in primarySlider
                if (val.class != undefined)
                    - val.class = 'bx__pager-item--' + val.class

                a.bx__pager-item(href='#' class=val.class data-slide-index=i)= val.name

                - i++

    .promotional__goods
        ul#sl_goods
            each val in secondarySlider
                li
                    .goods-day
                        .goods-day__picture
                            a.goods-day__link(href='#')
                                img.goods-day__image(src='data/goods/' + val.image + '.png' alt=val.image)

                                .calendar.calendar--tooltip
                                    .calendar__drop Можно заказать на завтра и позже

                            .status
                                .status__item.status__item--hit

                        .goods-day__data
                            .goods-day__title=val.title
                            .goods-day__description=val.description
                            .goods-day__price.price
                                span.price__title Цена:!{' '}
                                span.price__number=val.price
                                |!{' '}
                                span.price__postfix грн/шт.

        .promotional__title
            .promotional__title-inner Продукт дня

        #sl_goods__pager.bx__pager
            - var j = 0
                each val in secondarySlider
                    a.bx__pager-item(href='#' data-slide-index=j)

                    - j++

//= End promotional =
= '\n'
