-
    var profileUserinfoList = [
        {
            id: '№ 99582174',
            date: '28.03.2019',
            time: '12:30',
            type: true,
            status: 'Доставлено',
            mod: 'delivered',
            subitem: [{
                    image: 'order-1',
                    title: 'Капуста белокочанная',
                    price: '239.00 грн/кг',
                    weight: '25 кг',
                    total: '1 500 грн'
                },
                {
                    image: 'order-2',
                    title: 'Масло «Golden Kings of Ukraine» льняное 100 мл',
                    price: '289.00 грн/кг',
                    weight: '100 мл',
                    total: '34 грн'
                }

            ]
        },
        {
            id: '№ 99582174',
            date: '28.03.2019',
            time: '12:30',
            repeat: true,
            done: true,
            subitem: [{
                    image: 'order-3',
                    title: 'Помидор черри',
                    price: '239.00 грн/кг',
                    weight: '110 кг',
                    total: '1 500 грн'
                },
                {
                    image: 'order-4',
                    title: 'Питахая красная с красной мякотью',
                    price: '289.00 грн/кг',
                    weight: '13 кг',
                    total: '786 грн'
                }
            ]
        },
        {
            id: '№ 99582174',
            date: '28.03.2019',
            time: '12:30',
            type: true,
            status: 'Не доставлено',
            mod: 'undelivered'
        },
        {
            id: '№ 99582174',
            date: '28.03.2019',
            time: '12:30',
            type: true,
            status: 'Отменено',
            mod: 'canceled'
        }
    ]
= '\n'
//= Account order =
//- (source/assets/css/layout/_profile-orders.scss)
.profile-orders#profile
    each item in profileUserinfoList
        .profile-orders__item
            .profile-orders__header.profile-header
                .profile-orders__id= item.id
                .profile-orders__datetime
                    span.profile-orders__date= item.date
                    span.profile-orders__time= item.time
                if (item.type)
                    .profile-orders__type
                        - for(var i = 0; i < 5; i++)
                            img.profile-orders__type-image(src='data/order/type-1.png' alt='')
                        span.profile-orders__type-text еще 10 товаров
                if (item.status)
                    .profile-orders__status(class='profile-orders__status--' + item.mod)= item.status
                if (item.repeat)
                    .profile-orders__repeat
                        a(href="#") Подписаться на список товаров
                        button.catalog__button Повторить заказ
            if (item.subitem)
                .profile-content.profile-orders__content(style='display: none')
                    each subitem in item.subitem
                        .profile-orders__content-item
                            .profile-orders__content-left
                                a.profile-orders__content-picture(href='#')
                                    img.profile-orders__content-image(src='data/order/' + subitem.image + '.png' alt='')
                                a.profile-orders__content-title(href='#')= subitem.title
                            .profile-orders__content-right
                                .profile-orders__content-price= subitem.price
                                .profile-orders__content-weight= subitem.weight
                                .profile-orders__content-total= subitem.total
                    if (item.done)
                        .profile-orders__content-item.profile-orders__order
                            .profile-orders__content-leftnew
                                //.profile-orders__content--done -- класс отвечает если совершилось но неактивное
                                //.profile-orders__content--active  -- класс отвечает если совершилось но активное
                                //.profile-orders__content--after  -- класс отвечает за линию зеленого цвета
                                .profile-orders__content-draw.profile-orders__content--done.profile-orders__content--after
                                    .profile-orders__content-draw--icon
                                        img(src='assets/images/content/icon/handshake-green.svg' alt='')
                                    .profile-orders__content-draw--point
                                        //-https://ru.stackoverflow.com/questions/445852/%D0%9A%D0%B0%D0%BA-%D0%BD%D0%B0%D1%80%D0%B8%D1%81%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-%D0%BA%D0%BE%D0%BB%D1%8C%D1%86%D0%BE-%D1%81-%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E-%D1%81%D1%82%D0%B8%D0%BB%D0%B5%D0%B9
                                        .point
                                    .profile-orders__content-draw--act Оформляем заказ


                                .profile-orders__content-pack.profile-orders__content--done.profile-orders__content--after
                                    .profile-orders__content-pack--icon
                                        img(src='assets/images/content/icon/heart-box-green.svg' alt='')
                                    .profile-orders__content-pack--point
                                        .point
                                    .profile-orders__content-pack--act Упаковываем с любовью

                                //-.profile-orders__content--after
                                //-.profile-orders__content--active
                                .profile-orders__content-going.profile-orders__content--done.profile-orders__content--active
                                    .profile-orders__content-going--icon
                                        img(src='assets/images/content/icon/auto-green.svg' alt='')
                                    .profile-orders__content-going--point
                                        .point
                                    .profile-orders__content-going--act Едем к Вам


                                .profile-orders__content-delivered
                                    .profile-orders__content-delivered--icon
                                        img(src='assets/images/content/icon/success-green.svg' alt='')
                                    .profile-orders__content-delivered--point
                                        .point
                                    .profile-orders__content-delivered--act Доставили
                            .profile-orders__content-rightnew
                                a.catalog__button(href="#") Оцените заказ
//= End account order =
= '\n'
