


-
    var sitemapListFirst = [{
            title: 'Овощи',
            sublist: [{
                    title: 'Помидоры, огурцы',
                    list: [
                        'Огурец',
                        'Огурец Эстафета',
                        'Огурец гладкий',
                        'Помидор',
                        'Помидор кумато',
                        'Помидор розовый',
                        'Помидор коктейльный',
                        'Помидор черри',
                        'Помидор черри красный 500г',
                        'Помидор черри желтый 250г',
                        'Помидор на ветке',
                        'Помидор сливка',
                        'Помидор черри 200г',
                        'Помидор жёлтый',
                        'Помидор Калиновка',
                        'Помидор Калиновка розовый',
                        'Помидор Кур де Буф',
                        'Помидор сливка на ветке',
                        'Помидор Чумак'
                    ]
                },
                {
                    title: 'Картофель, морковь, свекла',
                    list: [
                        'Морковь каротель',
                        'Морковь длинная',
                        'Морковь мытая',
                        'Морковь молодая',
                        'Картофель красный',
                        'Картофель белый',
                        'Картофель белый молодой',
                        'Картофель Франция 1кг',
                        'Свекла',
                        'Морковь длинная от 100кг',
                        'Картофель красный от 100кг',
                        'Картофель розовый молодой',
                        'Свекла от 100кг',
                        'Свекла молодая'
                    ]
                },
                {
                    title: 'Капуста',
                    list: [
                        'Капуста брюссельская',
                        'Капуста цветная',
                        'Капуста брокколи',
                        'Капуста романеско',
                        'Капуста кольраби',
                        'Капуста пекинская',
                        'Капуста савойская',
                        'Капуста белокочанная',
                        'Капуста молодая',
                        'Капуста краснокочанная',
                        'Капуста белокочанная от 100кг'
                    ]
                },
                {
                    title: 'Лук, чеснок',
                    list: [
                        'Лук порей',
                        'Лук репчатый',
                        'Лук Марс',
                        'Лук Стерлинг',
                        'Лук шалот 250г',
                        'Чеснок',
                        'Чеснок молодой',
                        'Лук репчатый от 100кг',
                        'Лук молодой',
                        'Лук стерлинг молодой',
                        'Лук ялтинский',
                        'Чеснок молодой зелёный'
                    ]
                },
                {
                    title: 'Перец',
                    list: [
                        'Перец оранжевый',
                        'Перец желтый',
                        'Перец красный',
                        'Перец зелёный',
                        'Перец Капия',
                        'Перец Белозерка',
                        'Перец чили зелёный',
                        'Перец чили красный',
                        'Перец Тайский чили 50г'
                    ]
                },
                {
                    title: 'Кабачки, баклажаны',
                    list: [
                        'Цуккини',
                        'Баклажан',
                        'Кабачок'
                    ]
                },
                {
                    title: 'Грибы',
                    list: [
                        'Шампиньоны',
                        'Шампиньоны для мариновки',
                        'Шампиньоны для фаршировки',
                        'Шампиньоны королевские',
                        'Вёшенки',
                        'Грибы Шиитаке 200г',
                        'Грибы Еноки',
                        'Грибы Еринги'
                    ]
                },
                {
                    title: 'Редис',
                    list: [
                        'Редис',
                        'Редис Глаз Дракона',
                        'Редис дайкон',
                        'Редис пучок',
                        'Редис зелёный',
                        'Редис чёрный'
                    ]
                },
                {
                    title: 'Корни',
                    list: [
                        'Корень имбиря',
                        'Корень сельдерея',
                        'Корень петрушки',
                        'Корень хрена'
                    ]
                },
                {
                    title: 'Экзотические овощи',
                    list: [
                        'Батат',
                        'Артишок',
                        'Фенхель',
                        'Вареные каштаны в вакууме 400г',
                        'Спаржа зелёная 450г',
                        'Спаржа зелёная мини 250г',
                        'Спаржа белая 500г',
                        'Спаржевая фасоль',
                        'Лимонник',
                        'Горошек зеленый 250г',
                        'Горошек зеленый'
                    ]
                },
                {
                    title: 'Мини-овощи',
                    list: [
                        'Кукуруза беби (10-12 шт)'
                    ]
                },
                {
                    title: 'Кукуруза, горошек',
                    list: [
                        'Кукуруза'
                    ]
                },
                {
                    title: 'Тыква',
                    list: [
                        'Тыква',
                        'Тыква Баттернат'
                    ]
                },
                {
                    title: 'Фасоль, бобы',
                    list: [
                        'Бобы',
                        'Горох нут',
                        'Фасоль Бандоли',
                        'Фасоль Кофейная',
                        'Фасоль Красная Шапочка',
                        'Фасоль крупная белая',
                        'Фасоль Ласточка',
                        'Фасоль Масляная',
                        'Фасоль Скарлет',
                        'Фасоль Солдатик',
                        'Фасоль средняя белая',
                        'Фасоль средняя красная',
                        'Фасоль крупная синяя',
                        'Фасоль Черная'
                    ]
                }
            ]
        },
        {
            title: 'Пекарня',
            sublist: [{
                    title: 'Хлебцы',
                    list: [
                        'Галеты 7 злаков с диким рисом',
                        'Галеты рисовые натуральные',
                        'Галеты рисовые с семечками подсолнуха',
                        'Галеты рисовые с семечками тыквы',
                        'Маца 5 злаков',
                        'Маца с луком',
                        'Хлебцы FC многозерновые 250г',
                        'Хлебцы FC многозерновые из 5 злаков 175г',
                        'Хлебцы FC ржаные оригинальные 200г',
                        'Хлебцы FC ржаные с кориандром 175г',
                        'Хлебцы FC ржаные с отрубями 200г',
                        'Хлебцы FC ржаные традиционные 200г',
                        'Хлебцы FC ржаные с тмином 200г',
                        'Хлебцы FC ржаные с чесноком 175г',
                        'Хлебцы FC с кунжутом 250г',
                        'Хлебцы зерновые «Хрустики» 100г',
                        'Хлебцы зерновые «Хрустики» 300г',
                        'Хлебцы зерновые «Хрустики» со специями «Гриль» 150г',
                        'Сухарики «Домашні гріночки» с аджикой 100г',
                        'Сухарики «Домашні гріночки» с луком 100г',
                        'Сухарики «Домашні гріночки» с солью 100г',
                        'Сухарики «Домашні гріночки» с томатом и базиликом 100г',
                        'Сухарики «Домашні гріночки» с укропом и тмином 100г',
                        'Сухарики «Домашні гріночки» с чесноком 100г'
                    ]
                }
            ]
        },
        {
            title: 'Сладости',
            sublist: [{
                    title: 'Пасека',
                    list: [
                        'Арахисовая и шоколадная паста',
                        'Арахисовая паста изюм-корица 180г',
                        'Арахисовая паста изюм-корица 280г',
                        'Арахисовая паста-грайнд 180г',
                        'Арахисовая паста-грайнд 280г',
                        'Арахисовая паста-кранч 180г',
                        'Арахисовая паста-кранч 280г',
                        'Арахисовая паста-крем 180г',
                        'Арахисовая паста-крем 280г',
                        'Арахисовая паста-шоколад 180г',
                        'Арахисовая паста-шоколад 280г',
                        'Арахисовая паста-spice 280г',
                        'Паста кешью 200г',
                        'Шоколадная паста Nutella 180г',
                        'Шоколадная паста Nutella 200г',
                        'Шоколадная паста Nutella 350г',
                        'Шоколадная паста Nutella 630г',
                        'Арахисовая паста-веган 180г',
                        'Джем, варенье',
                        'Черничная паста LiQberry 1кг',
                        'Черничная паста LiQberry 550г',
                        'Брусничная паста LiQberry 1кг',
                        'Брусничная паста LiQberry 550г',
                        'Клюквенная паста LiQberry 1кг',
                        'Клюквенная паста LiQberry 550г',
                        'Облепиховая паста LiQberry 550г',
                        'Арониевая паста LiQberry 550г'
                    ]
                }
            ]
        }
    ]

    var sitemapListSecond = [{
            title: 'Зелень',
            sublist: [{
                    title: 'Салаты',
                    list: [
                        'Салат Бостон',
                        'Салат Айсберг',
                        'Салат Радичио',
                        'Салат Лолло Бионда',
                        'Салат Лолло Россо',
                        'Салат Ромэн',
                        'Салат Фризе',
                        'Листья салата',
                        'Салат микс 125г',
                        'Маш-салат 125г',
                        'Руккола 125г',
                        'Руккола',
                        'Цикорий салатный',
                        'Руккола 1кг'
                    ]
                },
                {
                    title: 'Травы',
                    list: [
                        'Базилик зелёный',
                        'Базилик синий',
                        'Петрушка кучерявая',
                        'Петрушка листовая',
                        'Укроп',
                        'Кинза',
                        'Листья валерианы 125г',
                        'Мангольд 125г',
                        'Стебель сельдерея',
                        'Щавель',
                        'Шпинат',
                        'Шпинат 125г',
                        'Лист банана',
                        'Мята',
                        'Розмарин',
                        'Тархун',
                        'Тимьян',
                        'Лук зелёный',
                        'Листья сельдерея'
                    ]
                },
                {
                    title: 'Ростки',
                    list: [
                        'Ростки гороха 50г',
                        'Ростки люцерны 50г',
                        'Ростки подсолнуха 50г',
                        'Ростки редиса 50г'
                    ]
                }
            ]
        },
        {
            title: 'Сухофрукты',
            sublist: []
        },
        {
            title: 'Орехи',
            sublist: [{
                    title: 'Орехи',
                    list: [
                        'Кешью жареный',
                        'Кешью сырой',
                        'Орех кедровый',
                        'Орех грецкий чищеный',
                        'Орех бразильский',
                        'Миндаль сырой',
                        'Миндаль жареный',
                        'Миндальные хлопья',
                        'Фундук сырой',
                        'Фундук жареный',
                        'Фисташки жареные солёные',
                        'Арахис в скорлупе жареный',
                        'Арахис в скорлупе сырой',
                        'Арахис жареный солёный',
                        'Арахис очищеный жареный',
                        'Арахис очищеный сырой',
                        'Орех грецкий в скорлупе',
                        'Мускатный орех в скорлупе 100г'
                    ]
                },
                {
                    title: 'Семечки',
                    list: [
                        'Мак',
                        'Семечки тыквенные',
                        'Семечки подсолнечника 1л',
                        'Семечки подсолнечника очищенные',
                        'Семечки тыквенные очищенные'
                    ]
                }
            ]
        },
        {
            title: 'Бакалея',
            sublist: [{
                    title: 'Растительные масла, уксус',
                    list: [
                        'Масло «Golden Kings of Ukraine» льняное 100 мл',
                        'Масло «Golden Kings of Ukraine» льняное 350 мл',
                        "Масло World's Rice из рисовых отрубей 1л",
                        'Масло Borges оливковое Classic 500мл',
                        'Масло Borges оливковое Extra Light 500мл',
                        'Масло Borges оливковое Extra Virgin Original 250мл',
                        'Масло Borges оливковое Extra Virgin Original 500мл',
                        'Масло Borges оливковое Extra Virgin Original 750мл',
                        'Масло Terra Delyssa оливковое Extra Virgin 1л',
                        'Масло грецкого ореха Олійня Мольфара 200мл',
                        'Масло кедровое Олійня Мольфара 200мл',
                        'Масло Экород подсолнечное 500мл',
                        'Уксус Borges бальзамический Модена 250мл',
                        'Уксус Borges яблочный 250мл'
                    ]
                },
                {
                    title: 'Соусы',
                    list: [
                        'Гранатовый соус 240г',
                        'Гранатовый соус 430г',
                        'Соус Kikkoman соевый 250мл',
                        'Соус Kikkoman соевый 1000мл'
                    ]
                },
                {
                    title: 'Крупы',
                    list: [
                        "Рис «World's rice» длиннозернистый 1кг",
                        "Рис «World's rice» басмати 1кг",
                        "Рис «World's rice» жасмин 1кг",
                        "Рис «World's rice» парбоилд 1кг",
                        "Рис «World's rice» парбоилд и красный 500г",
                        "Рис «World's rice» египетский 500г",
                        "Рис «World's rice» красный 500г",
                        "Рис «World's rice» черный 500г",
                        'Крупа Киноа',
                        'Крупа Экород гречка зелёная 400г',
                        'Крупа Экород гречка пропаренная 400г',
                        'Крупа Экород перловая 400г',
                        'Крупа Экород манная 400г',
                        'Крупа Экород пшеничная 400г',
                        'Крупа Экород пшеничная арнаут 400г',
                        'Крупа Экород пшено 400г',
                        'Крупа Экород ячневая 400г',
                        'Чечевица зелёная',
                        'Чечевица оранжевая',
                        'Чечевица жёлтая',
                        'Чечевица красная',
                        'Чечевица чёрная'
                    ]
                },
                {
                    title: 'Макароны',
                    list: [
                        'Спагетти Di Martino 500г',
                        'Капеллини №1 Barіlla 500г',
                        'Спагеттини №3 Barіlla 500г',
                        'Спагетти №5 Barіlla 500г',
                        'Вермишель Филини Barіlla 500г',
                        'Макароны Фузилли Barіlla 500г',
                        'Макароны Фарфалле Barіlla 500г',
                        'Макароны Пеннетте Ригате Barіlla 500г',
                        'Макароны Козуб цельнозерновые гребешки 500г',
                        'Макароны Козуб цельнозерновые лапша 500г'
                    ]
                },
                {
                    title: 'Мука',
                    list: [
                        'Толокно Козуб овсяное 500г',
                        'Мука Экород пшеничная грубого помола органическая 1кг',
                        'Мука Экород пшеничная органическая 1кг',
                        'Мука Экород ржаная грубого помола органическая 1кг'
                    ]
                },
                {
                    title: 'Сухие завтраки',
                    list: [
                        'Пищевые добавки',
                        'Отруби Козуб овсяные 500г',
                        'Смесь семян «Здоровье» 100г',
                        'Клетчатка растительная зародышей кукурузы 160г',
                        'Клетчатка растительная из молотых семян кунжута 160г',
                        'Клетчатка растительная из молотых семян льна 160г',
                        'Клетчатка растительная из молотых семян расторопши 160г',
                        'Клетчатка растительная отрубей гречихи 160г',
                        'Клетчатка растительная отрубей овса 130г',
                        'Клетчатка растительная отрубей проса 160г',
                        'Клетчатка растительная отрубей пшеницы 160г',
                        'Клетчатка растительная отрубей ячменя 160г',
                        'Клетчатка растительная отрубей ржи 160г',
                        'Клетчатка растительная солод ржаной 160г'
                    ]
                },
                {
                    title: 'Сахар, сахарозаменители',
                    list: [
                        'Сахар Сладов тростниковый Demerara 600г',
                        'Сахар Сладов тростниковый Golden Granulated 600г',
                        'Сахар Сладов тростниковый коричневый кусковой 500г',
                        'Сахар Сладов тростниковый органический 600г'
                    ]
                },
                {
                    title: 'Соль',
                    list: [
                        'Соль Kamis морская мельница 90г',
                        'Соль Kamis морская мельница с травами 90г',
                        'Соль Salute di Mare морская пищевая крупная 750г',
                        'Соль Salute di Mare морская пищевая мелкая 750г',
                        'Соль Salute di Mare морская пищевая мелкая йодированная 600г',
                        'Соль Salute di Mare морская пищевая с ламинарией 750г',
                        'Соль Salute di Mare морская пищевая средняя 750г'
                    ]
                },
                {
                    title: 'Пряности',
                    list: []
                }
            ]
        }
    ]

    var sitemapListThird = [{
            title: 'Фрукты, ягоды',
            sublist: [{
                    title: 'Яблоки и груши',
                    list: [
                        'Айва',
                        'Груша Украина',
                        'Груша Конференция',
                        'Груша китайская',
                        'Яблоко Гренни Смит',
                        'Яблоко Ред Чиф',
                        'Яблоко Голден',
                        'Яблоко Фуджи',
                        'Яблоко Чемпион',
                        'Яблоко Симиренко',
                        'Яблоко Джонаголд',
                        'Яблоко Муцу',
                        'Яблоко Флорина',
                        'Яблоко Лиголь',
                        'Яблоко Украина',
                        'Яблоко Глостер',
                        'Яблоко Горец',
                        'Груша Пакхам',
                        'Груша Ред Бартлет',
                        'Груша Аббат',
                        'Яблоко Гала',
                        'Яблоко Айдаред',
                        'Яблоко Пинова',
                        'Яблоко Лиза'
                    ]
                },
                {
                    title: 'Цитрусовые',
                    list: [
                        'Апельсин красный',
                        'Грейпфрут',
                        'Лимон',
                        'Лайм',
                        'Апельсин фреш',
                        'Апельсин отборный',
                        'Апельсин крупный',
                        'Мандарин',
                        'Мандарин клементин',
                        'Мандарин премиум',
                        'Лимкват',
                        'Кумкват',
                        'Помело',
                        'Свити',
                        'Мандарин Грузия'
                    ]
                },
                {
                    title: 'Виноград',
                    list: [
                        'Виноград Кардинал',
                        'Виноград розовый',
                        'Виноград белый',
                        'Виноград синий',
                        'Виноград Белый кишмиш',
                        'Виноград Розовый кишмиш'
                    ]
                },
                {
                    title: 'Экзотические фрукты',
                    list: [
                        'Фейхоа',
                        'Лонган',
                        'Плод кактуса',
                        'Маракуйя',
                        'Тамаринд 400г',
                        'Гранат',
                        'Питахайя красная',
                        'Питахайя жёлтая',
                        'Манго королевский',
                        'Манго Голд',
                        'Манго 6',
                        'Банан зеленый',
                        'Банан',
                        'Кокос молодой «Friedas»',
                        'Кокос',
                        'Киви',
                        'Киви премиум',
                        'Киви голд',
                        'Киви корзинка',
                        'Ананас Голд',
                        'Ананас А6',
                        'Ананас В10',
                        'Рамбутан',
                        'Мангостин',
                        'Гранадилла',
                        'Инжир',
                        'Карамболь',
                        'Пепино',
                        'Авокадо Хасс',
                        'Авокадо 12',
                        'Авокадо 14',
                        'Авокадо 18',
                        'Папайя королевская',
                        'Папайя',
                        'Кивано',
                        'Тамарилло',
                        'Гуава',
                        'Хурма Шарон',
                        'Гранат без косточки',
                        'Личи',
                        'Банан красный',
                        'Хурма Королёк',
                        'Джекфрут',
                        'Кокос молодой «GenuineCoconut»'
                    ]
                },
                {
                    title: 'Мини-фрукты',
                    list: [
                        'Банан беби',
                        'Ананас беби',
                        'Киви беби 125г'
                    ]
                },
                {
                    title: 'Ягоды',
                    list: [
                        'Клубника',
                        'Физалис 100г',
                        'Клюква',
                        'Малина',
                        'Малина 125г',
                        'Ежевика',
                        'Ежевика 125г',
                        'Голубика',
                        'Голубика 125г',
                        'Смородина красная 150г',
                        'Смородина красная',
                        'Крыжовник',
                        'Земляника 240г',
                        'Смородина чёрная',
                        'Смородина чёрная 150г',
                        'Черника',
                        'Шиповник',
                        'Клубника Украина',
                        'Кизил'
                    ]
                },
                {
                    title: 'Косточковые',
                    list: [
                        'Слива тёмная',
                        'Слива желтая',
                        'Слива чёрная',
                        'Черешня красная',
                        'Абрикос',
                        'Абрикос Ананасный',
                        'Персик',
                        'Нектарин',
                        'Слива венгерка',
                        'Персик инжирный',
                        'Вишня',
                        'Черешня жёлтая',
                        'Алыча'
                    ]
                },
                {
                    title: 'Бахчевые',
                    list: [
                        'Арбуз',
                        'Дыня зеленая',
                        'Дыня Галия',
                        'Дыня жёлтая',
                        'Дыня Канталупа',
                        'Арбуз Огонёк',
                        'Арбуз Чарльстон Грей',
                        'Дыня Украина'
                    ]
                },
            ]
        },
        {
            title: 'Напитки',
            sublist: [{
                    title: 'Чай',
                    list: [
                        'Черный чай «Ronnefeldt» Aнглийcкий Зaвтpaк 20 пак.',
                        'Зеленый чай «Ronnefeldt» Жасмин Голд 20 пак.',
                        'Зеленый чай «Ronnefeldt» Зелёный листок 20 пак.',
                        'Черный чай «Ronnefeldt» Ассам Бари 20 пак.',
                        'Фруктовый чай «Ronnefeldt» Cладкие Ягoды 20 пак.'
                    ]
                },
                {
                    title: 'Вода',
                    list: [
                        'Вода Borjomi сильногазированная 330мл',
                        'Вода Borjomi сильногазированная 500мл',
                        'Вода Evian негазированная 330мл',
                        'Вода Vittel негазированная 330мл',
                        'Вода Моршинская негазированная 330мл',
                        'Вода Моршинская негазированная 500мл',
                        'Вода Моршинская слабогазированная 330мл',
                        'Вода Моршинская слабогазированная 500мл'
                    ]
                },
                {
                    title: 'Соки',
                    list: [
                        'Гранатовый сок 1л',
                        'Гранатовый сок 3л',
                        'Сок Galicia яблочный 1л',
                        'Сок Galicia яблочный 330мл',
                        'Сок Galicia яблочно-черничный 1л',
                        'Сок Galicia яблочно-черничный 330мл',
                        'Сок Galicia яблочно-вишневый 1л',
                        'Сок Galicia яблочно-вишневый 330мл',
                        'Сок Galicia яблочно-черносмородиновый 1л',
                        'Сок Galicia яблочно-черносмородиновый 330мл',
                        'Сок Galicia томатный с мякотью и солью 1л',
                        'Сок Galicia томатный с мякотью и солью 330мл',
                        'Сок Galicia яблочно-вишневый 1л',
                        'Сок Galicia яблочно-грушевый 1л',
                        'Сок Galicia яблочно-клубничный 1л',
                        'Сок Galicia яблочно-черничный 1л',
                        'Сок Galicia яблочно-черносмородиновый 1л',
                        'Сок Galicia яблочный 1л',
                        'Сок «Золотой Пармен» яблочний органический 3л',
                        'Сок «Золотой Пармен» яблочно-тыквенный органический 3л',
                        'Сок «Золотой Пармен» яблочно-свекольный органический 3л',
                        'Сок «Золотой Пармен» березово-яблочный органический 3л'
                    ]
                },
                {
                    title: 'Смузи',
                    list: [
                        'Смузи груша-персик 330мл',
                        'Смузи морковь-абрикос 330мл',
                        'Смузи черника-малина 330мл',
                        'Соки фреш'
                    ]
                }
            ]
        }
    ]

= '\n'
//= Sitemap =
.sitemap
    .sitemap__box
        each list in sitemapListFirst
            .sitemap__title
                a.sitemap__title-link(href='#')= list.title
            each item in list.sublist
                .sitemap__subitem
                    a.sitemap__subitem-link(href='#')= item.title
                ul.sitemap__list
                    each val in item.list
                        li.sitemap__item
                            a.sitemap__link(href='#')= val
    .sitemap__box
        each list in sitemapListSecond
            .sitemap__title
                a.sitemap__title-link(href='#')= list.title
            each item in list.sublist
                .sitemap__subitem
                    a.sitemap__subitem-link(href='#')= item.title
                ul.sitemap__list
                    each val in item.list
                        li.sitemap__item
                            a.sitemap__link(href='#')= val
    .sitemap__box
        each list in sitemapListThird
            .sitemap__title
                a.sitemap__title-link(href='#')= list.title
            each item in list.sublist
                .sitemap__subitem
                    a.sitemap__subitem-link(href='#')= item.title
                ul.sitemap__list
                    each val in item.list
                        li.sitemap__item
                            a.sitemap__link(href='#')= val


//= End sitemap =
= '\n'
