//= Tabs =
.tabs#tabs
    .tabs__header
        a.tabs__btn.tabs__btn--active(href='#tab_info') Полезная информация
        a.tabs__btn(href='#tab_comment') Коментарий к товару
    .tabs__content
        .tabs__item#tab_info(itemprop='description')
            .textbox#product_description
                .textbox__content
                    p.
                        Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.

                    p.
                        Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.

                    p.
                        Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.

                    p.
                        Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.

                    p.
                        Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.
                a.textbox__more(href='jacascript:void(0);'  data-seotext-hidetext="Скрыть содержимое") Читать полностью

        .tabs__item#tab_comment(style='display: none;')



            -
                var commentsList = [
                    {
                        image: 'avatar',
                        name: 'Марина',
                        text: 'Очень вкусный фрукт. Мякоть гранадиллы сочная и приятная , напоминает вкус дыни . Семена находятся внутри желеобразной мякоти, их сложно отделить, но они мягкие и съедобные.',
                        date: '09 января 2017',
                        datetime: '2017-01-09',
                        likes: 5,
                        dislikes: 2
                    }
                ]
            //= Comments =
            .comments.comments--product
                .comments__content
                    - for (var i = 0; i < 2; i++)
                        each val in commentsList
                            .comments__item(itemprop='comment' itemscope itemtype='http://schema.org/Comment')
                                .comments__picture
                                    img.comments__image(src='data/blog/' + val.image +'.png' alt='')
                                .comments__data
                                    .comments__name(itemprop='author')= val.name
                                    .comments__info
                                        .comments__reviews
                                            .rating.rating--view
                                                input(type='hidden' name='val' value='3')
                                                input(type='hidden' name='votes' value='21')

                                        time.comments__date(datetime= val.datetime)= val.date
                                        meta(itemprop='datePublished' content='2017-01-09')
                                        //
                                            .---
                                                Лайки и дизлайки могут принимать дополнительные классы соответствующие своему состоянию:
                                                    .comments__likes--active - активное
                                                    .comments__likes--disabled - не активное
                                                    .comments__dislikes--active - активное
                                                    .comments__dislikes--disabled - не активное
                                            .---
                                        a.comments__likes(href='#')= val.likes
                                        a.comments__dislikes(href='#')= val.dislikes
                                    .comments__text(itemprop='text description')= val.text
                                    a.comments__complaint(href='#') Пожаловатся на отзыв
                .comments__form

                    = '\n'
                    //= Write =
                    form.write(class='write--review' action='#' method='post')
                        .write__wrapper.write__field--ratio
                            .rating.rating--write
                                input(type='hidden' name='val' value='0')
                                input(type='hidden' name='votes' value='21')

                        .write__wrapper
                            .write__field.write__field--user
                                input.write__input(type='text' name='login' placeholder='Введите Ваше имя')
                        .write__wrapper
                            .write__field.write__field--email
                                input.write__input(type='text' name='email' placeholder='Введите Ваш email')
                        .write__field.write__field--message
                            textarea.write__textarea(name='message' placeholder='Введите Ваш коментарий')
                        input.write__button(type='submit' value='Отправить сообщение')

                    //= End write =
                    = '\n'


            //= End comments =
            = '\n'

//= End tabs =
= '\n'
