= '\n'
//= buy-form =
//- (source/assets/css/layout/_buy-form.scss)
.buy-form
    h2 Де купити?
    form(id='form' action='#' method='post')
       .form-group
            label Виберіть місто:
            select.form-control.new-post
                each val in cityList
                    option(value='0')= val
       .form-group
            label Виберіть тип:
            select.form-control.new-post
                option(value='1') Магазин
                option(value='2') Салон-магазин
    .buy-form__contacts
        each val in adressItems
            .buy-form__item
                .buy-form__block
                    p= val.city
                    a.buy-form__name(href='#map')= val.name
                        span= val.adress
                .buy-form__block
                    p= val.type
                    if val.phone
                        each item in val.phone
                            a(href= item.tel)= item.num
    button.callback__call(type='button') Зворотній дзвінок
//= End buy-form =
= '\n'
