= '\n'
//= callback-popup =
//- (source/assets/css/layout/_callback-popup.scss)
.callback-popup
    .enter-popup.enter-popup--callback
        each elem in popItems
            if elem.callback
                .enter-popup__image
                    img(src="data/popup/" + elem.image, alt="")
                h2= elem.title
                .enter-popup__text= elem.text
                form(id='' action='#' method='post')
                    .form-group.required
                        input.form-control(type='text' placeholder=elem.placeholder required)
                        label.control-label= elem.labelFirst
                        .help-block
                    .form-group
                        input.form-control(type='text' placeholder='' required)
                        label.control-label= elem.labelSecond
                    .form-group
                        input.form-control(type='text' placeholder='' required)
                        label.control-label= elem.labelThird
                    .form-group
                        button.enter(type='button' disabled)= elem.enter
//= End callback-popup =
= '\n'
