//-(_filters-menu.pug)
= '\n'
//= filters-menu =
if (pageTitle == 'Каталог продукції')
    ul.filters-menu
        each elem, index in leftMenuList
            if elem.sublist
                li.filters-menu__item
                    .filters-menu__wrap
                        a.filters-menu__link.arrow(class= elem.class href='#0')= elem.title
                    ul.filters-menu__subsublist
                        if elem.sublist
                            each val in elem.sublist
                                li.filters-menu__subsublist-item
                                    label(class=val.class)= val.name
                                        input(type='checkbox' disabled=val.disabled)
                                        span= val.counter
                        li.filters-menu__more
                            a(href='#') Показати ще
        li.filters-menu__price

            a.filters-menu__link.arrow.arrow-rotate(href='#0') Ціна
            .filters-menu__block
                .filters-menu__fields
                    .filters-menu__field
                        span від
                        input.min(type='text' value='2 890')
                    .filters-menu__field
                        span до
                        input.max(type='text' value='10 270')
                input#range(type='text')


        each item, index in menuFilters
            if item.sublist
                li.filters-menu__item
                    .filters-menu__wrap
                        a.filters-menu__link(class= item.class href='#0')= item.title
                    ul.filters-menu__subsublist
                        if item.sublist
                            each val in item.sublist
                                li.filters-menu__subsublist-item
                                    label= val
                                        input(type='checkbox')
        li.filters-menu__price

            a.filters-menu__link.arrow.arrow-rotate(href='#0') Ширина, см.
            .filters-menu__block
                .filters-menu__fields
                    .filters-menu__field
                        span від
                        input.min(type='text' value='0')
                    .filters-menu__field
                        span до
                        input.max(type='text' value='150')
                input#width(type='text')
        li.filters-menu__price

            a.filters-menu__link.arrow.arrow-rotate(href='#0') Висота, см.
            .filters-menu__block
                .filters-menu__fields
                    .filters-menu__field
                        span від
                        input.min(type='text' value='0')
                    .filters-menu__field
                        span до
                        input.max(type='text' value='360')
                input#height(type='text')
if (pageTitle == 'Колекції')
    ul.filters-menu
        each elem, index in collectionList
            if elem.sublist
                li.filters-menu__item
                    .filters-menu__wrap
                        a.filters-menu__link.arrow(class= elem.class href='#0')= elem.title
                    ul.filters-menu__subsublist
                        if elem.sublist
                            each val in elem.sublist
                                li.filters-menu__subsublist-item
                                    label(class=val.class)= val.name
                                        input(type='checkbox' disabled=val.disabled)
                                        span= val.counter
                        li.filters-menu__more
                            a(href='#') Показати ще
        li.filters-menu__price

            a.filters-menu__link.arrow.arrow-rotate(href='#0') Ціна
            .filters-menu__block
                .filters-menu__fields
                    .filters-menu__field
                        span від
                        input.min(type='text' value='2 890')
                    .filters-menu__field
                        span до
                        input.max(type='text' value='10 270')
                input#range(type='text')

        li.filters-menu__item
            .filters-menu__wrap
                a.filters-menu__link.arrow(href='#') Розміри колекції

else
    ul.filters-menu
        each elem, index in brandsLogosList
            if elem.sublist
                li.filters-menu__item
                    .filters-menu__wrap
                        a.filters-menu__link.arrow(class= elem.class href='#0')= elem.title
                    ul.filters-menu__subsublist
                        if elem.alphabet
                            li.filters-menu__alphabet
                                each item in elem.alphabet
                                    a(href='javascript:void(0)')= item
                        if elem.sublist
                            each val in elem.sublist
                                li.filters-menu__subsublist-item
                                    a(href='javascript:void(0)' class=val.class)= val.name
                                        //-input(type='checkbox')
                                        span(href="javascript:void(0)")= val.counter
//= End filters-menu =
= '\n'
