include vars/_variable.pug

-
    filterIonRangeSliderInit = true
    var filterModifier = (filterPopup) ? 'filter--popup' : ''

= '\n'
//= Filter =
.filter(class= filterModifier).filter--main
    if filterPopup
        .filter__header
            span.filter__header-count Доступно 
                span 7 
                | товаров
        button.filter__close(type='button')

    .filter__confirm
        .filter__confirmInner
            .filter__confirmContent Найдено:
                br
                span.filter__confirmCount 100
                |  товаров

            button.button Показать
            a.filter__confirmClose.hide-sm-max(href='javascript:void(0);')

    .filter__item.filter__item--open
        a.filter__title(href='javascript:void(0);') Производители

        .filter__container(style='display: block;')
            ul.filter__list

                each val in filterManufacturers
                    li.filter__listItem
                        .checkbox.checkbox--large
                            label

                                if ('checked' in val && val.checked)
                                    input.checkbox-input(type='checkbox' checked)

                                else
                                    input.checkbox-input(type='checkbox')

                                i.checkbox-icon
                                span.checkbox-title= val.title
                                    span= val.counter


            a.filter__more(href='#') Еще

    .filter__item.filter__item--open
        a.filter__title(href='javascript:void(0);') Цена

        .filter__container(style='display: block;')
            .filter__price
                input(type='text' id='price' name='' value='')

            .filter__priceControls
                .filter__priceControlsText от
                input.filter__priceControlsInput(type='text' value='16 560' maxlength='7')
                .filter__priceControlsText до
                input.filter__priceControlsInput(type='text' value='16 560' maxlength='7')
                .filter__priceControlsText грн.

    .filter__item.filter__item--open
        a.filter__title(href='javascript:void(0);') Гарантия

        .filter__container(style='display: block;')
            ul.filter__list

                each val in filterGuarantee
                    li.filter__listItem
                        .checkbox.checkbox--large
                            label

                                if ('checked' in val && val.checked)
                                    input.checkbox-input(type='checkbox' checked)

                                else
                                    input.checkbox-input(type='checkbox')

                                i.checkbox-icon
                                span.checkbox-title= val.title

    .filter__item.filter__item--open
        a.filter__title(href='javascript:void(0);') 3G

        .filter__container(style='display: block;')
            ul.filter__list

                each val in filter3G
                    li.filter__listItem
                        .checkbox.checkbox--large
                            label

                                if ('checked' in val && val.checked)
                                    input.checkbox-input(type='checkbox' checked)

                                else
                                    input.checkbox-input(type='checkbox')

                                i.checkbox-icon
                                span.checkbox-title= val.title

    .filter__item.filter__item--open
        a.filter__title(href='javascript:void(0);') Каталог Аксессуаров

        .filter__container(style='display: block;')
            ul.filter__list

                each val in filterAccessoriesCatalog
                    li.filter__listItem
                        .checkbox.checkbox--large
                            label

                                if ('checked' in val && val.checked)
                                    input.checkbox-input(type='checkbox' checked)

                                else
                                    input.checkbox-input(type='checkbox')

                                i.checkbox-icon
                                span.checkbox-title= val.title
                                    span= val.counter

    .filter__item
        a.filter__title(href='javascript:void(0);') Sim-карты

    .filter__item
        a.filter__title(href='javascript:void(0);') Аккумулятор

    .filter__item
        a.filter__title(href='javascript:void(0);') Камера
//= End filter =
= '\n'
