= '\n'
//= pagination =
//-= pagination (module/_pagination.scss)=
.pagin
    .pagin__wrapper
        -
            var pagination = [
                {
                    class1: 'prev',
                    class2: 'disabled',
                    //class2: '',
                    title: '',
                },
                {
                    class1: '',
                    class2: '',
                    title: '1',
                },
                {
                    class1: 'active',
                    class2: '',
                    title: '2',
                },
                {
                    class1: '',
                    class2: '',
                    title: '3',
                },
                {
                    class1: 'next',
                    class2: '',
                    title: '',
                }
            ]

        ul.pagination
            each val,  index in pagination
                if (index == 0)
                    li(class=val.class1 class=val.class2)
                        span=val.title
                        //-a(href='#')=val.title
                else
                    li(class=val.class1)
                        a(href='#')=val.title
//= End pagination =
= '\n'

