= '\n'
//= Product =

- modifier = (item.testDrive) ? 'product--test-drive' : ''
.product(class= modifier)
    a.product__image(href='details.html')
        img(src='data/catalog/' + item.img + '.png', alt='')
        .sales(data-content="Продано!")
    .product__wrapper
        .product__title
            a.product__name(href='details.html')= item.name
            .product__price
                if ('old' in item)
                    span.product__price-old= item.old
                span.product__price-new= item.price
        .product__body
            .product__spec
                .product__spec-inner
                    each prop in item.specList
                        .product__spec-block
                            .product__spec-title= prop.title
                            span= prop.value
            .product__action
                a.product__buy.button(href='javascript:void(0);')
                    span Зв'язок з менеджером
                if ('testDrive' in item)
                    a.product__test.drive.call-modal(href= item.popup)
                        span Записатися на тест-драйв
//= End product =
= '\n'
