br
br
br

hr

br
br
br

img(src="data/aboutcompany/big.png", alt="")
p.
    Для заварювання чаю краще брати м’яку воду, оскільки тверда вода утворює плівку на чайній поверхні.
p.
    Заварювальний чайник краще попередньо сполоснути кип’ятком , щоб він не забирав тепло. Заварка зазвичай береться із розрахунку 1 чайна ложка на одну чашку, плюс 1 додаткова для «чайника». Але обов’язково зверніть увагу на те, який сорт чаю ви заварюєте. Цейлонський чай потребує менше заварки, так як він відрізняється особливим багатством кольору, смаку та аромату. При необхідності заварку можна розбавляти кип’ятком.
p.
    Чорний чай необхідно заварювати 3-5 хвилин, зелений - 4-6 хвилин. В перші хвилини заварювання виходить танін, який дає напою колір та ароматні ефірні масла. І тільки після того в чаї з’являються кофеїн, катехини і речовини, що надають чаю характерного терпкого смаку.
p.
    У високоякісному чаї дуже часто зустрічаються «тіпси» – тобто бруньки чайного листа, який ще не розпустився. Тіпси високо ціняться і надають чаю особливо ніжний, вишуканий аромат. Їх можна впізнати по більш світлому відтінку і невеликому розміру. Про наявність тіпсів в чаї свідчить літера «Т» на упаковці згідно позначень чайних стандартів.


h1 H1 - Прайс
h2 H2 - Прайс
h3 H3 - Прайс
h4 H4 - Прайс
h5 H5 - Прайс
h6 H6 - Прайс
br
//-разное написание тегов в pug
p 1.'This code is <strong>not</strong> escaped!'
p| 2.'This code is <strong>not</strong> escaped!'
p.
  3.'This code is #[strong not] escaped!'
p!= '4.This code is <strong>not</strong> escaped!'
p= '5.This code is <strong>not</strong> escaped!'
p.
    6.'This code is <strong>not</strong> escaped!'

p(style='font-weight: bold; font-size: 18px;') 7.Процес виготовлення чаю включає:
br
ul
    li| <b>Маркерований список</b>
    li= '<b>Маркерований список</b>'
    li скручування
    li ферментація та просушування
    li кінцеве сортування, маркування та пакування
    li скручування
    li ферментація та просушування
    li кінцеве сортування, маркування та пакування

ol
    li| <b>Нумерований список</b>
    li= '<b>Нумерований список</b>'
    li зав’ялення
    li скручування
    li ферментація та просушування
    li кінцеве сортування, маркування та пакування
    li скручування
    li ферментація та просушування
    li кінцеве сортування, маркування та пакування

//-Тег <q> используется для выделения в тексте цитат

p.
    этот елемент есть <b>q</b> - используется для выделения в тексте цитат
    <br>
    Пример
    <br>
    Станислав Лец утверждал: <q>Чаще всего выход там, где был
    вход</q>.
br
br
blockquote= 'Тег <blockquote> предназначен для выделения длинных цитат внутри документа'

table
    tr
        td назва
        td завдання
        td всього

    tr
        td 1
        td виконати1
        td все1

    tr
        td 2
        td виконати2
        td все2
    tr
        td 3
        td виконати3
        td все3


iframe(width='560' height='315' src='https://www.youtube.com/embed/78WI956tv2g' frameborder='0' allowfullscreen)
br
br
//-Наклонный текст
em этот елемент есть <b>em</b> - Наклонный текст
br
i этот елемент есть <b>i</b> - Наклонный текст
br
br
//-Перечеркнутый
s этот елемент есть <b>s</b> - Перечеркнутый
br
strike этот елемент есть <b>strike</b> - Перечеркнутый
br
br
//-для выделения текста, который был удален в новой версии документа
del этот елемент есть <b>del</b> - для выделения текста, который был удален в новой версии документа
br
br
//-Полужирный текст
b этот елемент есть b -Полужирный текст
br
strong этот елемент есть strong -Полужирный текст
br
br
//-Подчеркнутый текст
u этот елемент есть <b>u</b> - Подчеркнутый текст
br
ins этот елемент есть <b>ins</b> - Подчеркнутый текст
br
br
a(href='#') этот елемент есть <b>a</b> - Ссылка
br
br
p этот елемент есть <b>p</b>
br

span этот елемент есть <b>span</b>
br
br

//-address предназначен для хранения информации об авторе и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д. Планируется, что поисковые системы будут анализировать содержимое этого тега для сбора информации об авторах сайтов.
address.
    этот елемент есть <b>address</b> - предназначен для хранения информации об авторе и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д. Планируется, что поисковые системы будут анализировать содержимое этого тега для сбора информации об авторах сайтов.
br
br
//-Элемент <pre> определяет блок предварительно форматированного текста
//-внутри контейнера <pre> допустимо применять любые теги кроме следующих: <big>, <img>, <object>, <small>, <sub> и <sup>
pre этот елемент есть <b>pre</b>
pre.
    #{"  Элемент <pre> определяет блок предварительно"}
    <br>
    #{"       форматированного текста внутри контейнера <pre> допустимо применять"}
    br
    #{"           любые теги кроме следующих: <big>', <img>, <object>, <small>, <sub> и <sup>"}
br
br
//-sub Отображает шрифт в виде нижнего индекса
p.
    Отображает шрифт в виде нижнего индекса <b>sub</b>
    <br>
    Пример
    <br>
    Под действием гидроксиламина альдегиды превращаются в оксимы:
    СН<sub>3</sub>СНО + NH<sub>2</sub>OH =
    CH<sub>3</sub>C(=NOH)H + H<sub>2</sub>O</p>
br
br
//-sup Отображает шрифт в виде верхнего индекса.
p.
    Отображает шрифт в виде верхнего индекса <b>sup</b>
    <br>
    Пример
    <br>
    <i> X <sup><small>n</small></sup> + Y <sup><small>n</small></sup> = Z <sup><small>n</small></sup></i></p>
br
br

//-Тег <big> увеличивает размер шрифта на единицу по сравнению с обычным текстом
p.
    Тег <b>big</b> увеличивает размер шрифта на единицу по сравнению с обычным текстом
    <br>
    Пример
    <br>
    <big>Lorem</big> ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. <big>Ut</big> wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
br
br

//-Тег <small> уменьшает размер шрифта на единицу по сравнению с обычным текстом
p.
    Тег <b>small</b> уменьшает размер шрифта на единицу по сравнению с обычным текстом
    <br>
    Пример
    <br>
    Из семейства кошачьих самая большая кошка это совсем не <small>лев</small>, как можно было бы подумать исходя из титула «царя верей». А уссурийский <small>тигр</small>, вес которого достигает 300 килограмм. <small>Тигр</small>, уступает по <small>размерам</small> и <small>весу</small> только другому наземному хищнику, белому <small>медведю</small>.</p>
br
br
