include vars/_variable.pug

-
    var shopSlickInit = true
    var shopPhotoswipeInit = true

= '\n'
//= Shop =
.shop
    .shop__top
        .shop__top-slider
            #shop_slick-for.slick.photoswipe-wrapper
                - for (var i = 0; i < 3; i++)
                    .slick-item.photoswipe-item(style='background-image: url("data/shop/image_test.jpg")')
                        a.shop__link(href='data/shop/image_test.jpg' data-size="1920x537")
                            img(src='data/shop/image_test.jpg' alt='')

        .shop__content-top
            //- #shop_slick-nav.slick.hide-sm-max
                - for (var x = 0; x < 2; x++)
                    - for (var i = 2; i < 5; i++)
                        .slick-item
                            img(src='data/shop/image' + i + '.jpg' alt='')

            .shop__info
                .shop__info-box
                    .shop__info-image(href='#')
                        img(src='data/shop/milavitsa.png' alt='')

                    .shop__info-description.hide-sm-max Kleo - це поєднання сучасних модних тенденцій та національних уподобань, які втілені в щось більше, ніж красивий жіночий аксесуар.

                    .shop__info-feature
                        each feature in shopFeature
                            .shop__info-feature-item(class='shop__info-feature-item--' + feature.class)

                                if ('link' in feature && feature.link)

                                    if (feature.class == 'type')

                                        - var shopFeatureCount = 0

                                        each text in feature.text

                                            if (shopFeatureCount > 0)
                                                | ,
                                            a.shop__info-feature-link(href='#')= text

                                            - shopFeatureCount++

                                    else
                                        a.shop__info-feature-link(href='#')= feature.text

                                else if ('phone' in feature && feature.phone)

                                    span.hide-mb-max= feature.text
                                    a.shop__info-feature-link.hide-xs-min(href='tel:' + feature.tel)= feature.text

                                else
                                    = feature.text

                .shop__info-row
                    .shop__info-row-item
                        a.shop__info-button.shop__info-button--share.anchor(href='#shop_share' data-rizer='50') Акція

                    .shop__info-row-item
                        a.shop__info-button.shop__info-button--map(href='#') На карті

            .shop__menu.hide-sm-max
                .shop__menu-content
                    .shop__menu-content-inner
                        ul.shop__menu-list
                            each val in shopMenu
                                li.shop__menu-item
                                    a.shop__menu-link(href='#' class='shop__menu-link--' + val.class)= val.title
                                        span.shop__menu-link-count= val.count

                a.shop__menu-button(href='javascript:void(0);')
                    i.shop__menu-button-icon

    .shop__content
        .container
            .shop__description
                h1 MilaVitsa
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                p doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

    #shop_share.shop__bottom
        .container
            .shop__share
                .shop__share-title Акції

                .shop__share-item
                    a.shop__share-image(href='#')
                        img(src='data/shop/share.jpg' alt='')

                    .shop__share-content
                        .shop__share-name
                            a.shop__share-link(href='#') -30% на улюблений товар

                        .shop__share-date 16/08/2017

                        .shop__share-description День Білизни в Milavitsa! Тільки раз на рік!
                            br
                            | Підходь до питання шопінгу зважено. А точніше, зважуй обраний товар і отримуй знижку!
                            br
                            | Чим важче твій вибір, тим твоя знижка більша!
//= End shop =
= '\n'
