= '\n'
//= Mobile menu =
//-=(/module/_mobile-menu.scss)=
-
    mobileMenuDrop = [
        {
            title: 'Мягкая мебель',
            image: '1',
            sublist: [
                {
                    submenu: 'Диваны, софы'
                },
                {
                    submenu: 'Угловые диваны'
                },
                {
                    submenu: 'Детские диваны'
                },
                {
                    submenu: 'Кресла'
                },
                {
                    submenu: 'Диваны книжки'
                },
                {
                    submenu: 'Каталог мебельных тканей'
                },
                {
                    submenu: 'Ткани Диванофф'
                }
            ]
        },
        {
            title: 'Мебель в прихожую',
            image: '2',
        },
        {
            title: 'Гостиные, стенки',
            image: '3',
        },
        {
            title: 'Кухни',
            image: '4',
            sublist: [
                {
                    submenu: 'Модульные кухни'
                },
                {
                    submenu: 'Комплекты кухонь'
                },
                {
                    submenu: 'Кухни на заказ'
                }
            ]
        },
        {
            title: 'Шкафы-купе',
            image: '5',
            sublist: [
                {
                    submenu: 'Шкафы-купе Виват (ООО «Дом»)'
                },
                {
                    submenu: 'Шкафы-купе «Фаворит» (ООО ДОМ)'

                },
                {
                    submenu: 'Шкаф-купе «Оскар» (OOO ДОМ)'
                },
                {
                    submenu: 'Шкаф-купе «Оскар Лайт» (OOO ДОМ)'
                },
                {
                    submenu: 'Шкафы-купе Феникс'
                },
                {
                    submenu: 'Шкафы-купе на складе'
                },
                {
                    submenu: 'Шкафы-купе «Комфорт Мебель»'
                },
                {
                    submenu: 'Шкафы-купе Мебель-Стар'
                },
                {
                    submenu: 'Шкафы-купе на заказ'
                },
                {
                    submenu: 'Фасады с пескоструем «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Дом»'
                },
                {
                    submenu: 'Комбинированные фасады «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем Мебель-Стар'
                },
                {
                    submenu: 'Фасады фотопечать Мебель-Стар'
                }
            ]
        },
        {
            title: 'Спальни',
            image: '6'
        },
        {
            title: 'Кровати',
            image: '7',
            sublist: [
                {
                    submenu: 'Односпальные кровати'
                },
                {
                    submenu: 'Двуспальные кровати'
                },
                {
                    submenu: 'Двухъярусные кровати'
                },
                {
                    submenu: 'Кровати металлические'
                },
                {
                    submenu: 'Прикроватные тумбочки'
                }
            ]
        },
        {
            title: 'Детские',
            image: '8'
        },
        {
            title: 'Столы',
            image: '9',
            sublist: [
                {
                    submenu: 'Письменные столы'
                },
                {
                    submenu: 'Компьютерные столы'
                },
                {
                    submenu: 'Журнальные столы'
                },
                {
                    submenu: 'Обеденные столы'
                },
                {
                    submenu: 'Кухонные столы'
                },
                {
                    submenu: 'Столы - Книжки'
                }
            ]
        },
        {
            title: 'Офисная мебель',
            image: '10',
            sublist: [
                {
                    submenu: 'Серия Стандарт Корсар'
                },
                {
                    submenu: 'Серия Эконом Корсар'
                },
                {
                    submenu: 'Серия Комфорт Корсар'
                },
                {
                    submenu: 'Серия Бизнес Корсар'
                },
                {
                    submenu: 'Серия Премиум Корсар'
                },
                {
                    submenu: 'Кабинет XL Корсар'
                },
                {
                    submenu: 'Кабинет Президент Корсар'
                },
                {
                    submenu: 'Кабинет Персона Корсар'
                },
                {
                    submenu: 'Кабинет MIND Корсар'
                },
                {
                    submenu: 'Офисная мебель «Континент»'
                },
                {
                    submenu: 'Офисная мебель «Пехотин»'
                }
            ]
        },
        {
            title: 'Кресла и Стулья',
            image: '11',
            sublist: [
                {
                    submenu: 'Для руководителей'
                },
                {
                    submenu: 'Для персонала'
                },
                {
                    submenu: 'Для детей'
                },
                {
                    submenu: 'Для кафе'
                },
                {
                    submenu: 'Для посетителей'
                },
                {
                    submenu: 'Мягкие'
                },
                {
                    submenu: 'Пуфики'
                },
                {
                    submenu: 'Табуреты'
                }
            ]
        },
        {
            title: 'Мебель из дерева',
            image: '12',
            sublist: [
                {
                    submenu: 'Деревянные столы'
                },
                {
                    submenu: 'Односпальные кровати из дерева'
                },
                {
                    submenu: 'Двуспальные кровати из дерева'
                },
                {
                    submenu: 'Детские кровати'
                },
                {
                    submenu: 'Этажерки'
                },
                {
                    submenu: 'Шкафы'
                },
                {
                    submenu: 'Тумбы'
                },
                {
                    submenu: 'Комоды'
                },
                {
                    submenu: 'Трюмо'
                },
                {
                    submenu: 'Кухонный уголок'
                },
                {
                    submenu: 'Двухъярусные кровати из дерева'
                }
            ]
        }
    ]
.mobile-menu__content
    ul.mobile-menu__list
        li.mobile-menu__list-item.main
            a.mobile-menu__list-link(href='index.html') Меню
        each item in mobileMenuDrop
            if item.sublist
                li.mobile-menu__list-item.has-children
                    //-.image
                        img(src='data/nav/mobile/' + item.image + '.svg' alt='')
                    a.mobile-menu__list-link(href='index.html')= item.title
                        span.mobile-menu__arrow
                    ul.mobile-menu__list.is-hidden
                        li.mobile-menu__list-item.go-back
                            //-.image
                                img(src='data/nav/mobile/' + item.image + '.svg' alt='')
                            a.mobile-menu__list-link(href='index.html')= item.title
                        each elem in item.sublist
                            if elem.sublist
                                li.mobile-menu__list-item.has-children
                                    a.mobile-menu__list-link(href='index.html')= elem.submenu
                                        span.mobile-menu__arrow
                                    ul.mobile-menu__list.is-hidden
                                        li.mobile-menu__list-item.go-back
                                            a.mobile-menu__list-link(href='index.html')= elem.submenu

                            else
                                li.mobile-menu__list-item
                                    //-.image
                                        img(src='data/nav/mobile/1.svg' alt='')
                                    a.mobile-menu__list-link(href='index.html')= elem.submenu

            else
                li.mobile-menu__list-item
                    //-.image
                        img(src='data/nav/mobile/' + item.image + '.svg' alt='')
                    a.mobile-menu__list-link(href='index.html')= item.title


//= End mobile menu =
= '\n'


//-all
//--
    mobileMenuDrop = [
        {
            title: 'Мягкая мебель',
            sublist: [
                {
                    submenu: 'Диваны, софы'
                },
                {
                    submenu: 'Угловые диваны'
                },
                {
                    submenu: 'Детские диваны'
                },
                {
                    submenu: 'Кресла'
                },
                {
                    submenu: 'Диваны книжки'
                },
                {
                    submenu: 'Каталог мебельных тканей'
                },
                {
                    submenu: 'Ткани Диванофф'
                }
            ]
        },
        {
            title: 'Мебель в прихожую'
        },
        {
            title: 'Гостиные, стенки'
        },
        {
            title: 'Модульные гостиные'
        },
        {
            title: 'Кухни на заказ и готовые',
            sublist: [
                {
                    submenu: 'Модульные кухни'
                },
                {
                    submenu: 'Комплекты кухонь'
                },
                {
                    submenu: 'Кухни на заказ'
                }
            ]
        },
        {
            title: 'Кухонные уголки и столы',
            sublist: [
                {
                    submenu: 'Диваны'
                },
                {
                    submenu: 'Раскладные диваны'
                },
                {
                    submenu: 'Угловые диваны'
                },
                {
                    submenu: 'Кресла'
                },
                {
                    submenu: 'Пуфы каркасные'
                },
                {
                    submenu: 'Бескаркасная мебель'
                },
                {
                    submenu: 'Детская мягкая мебель'
                },
                {
                    submenu: 'Мягкие уголки'
                }
            ]
        },
        {
            title: 'Офисная мебель',
            sublist: [
                {
                    submenu: 'Серия Стандарт Корсар'
                },
                {
                    submenu: 'Серия Эконом Корсар'
                },
                {
                    submenu: 'Серия Комфорт Корсар'
                },
                {
                    submenu: 'Серия Бизнес Корсар'
                },
                {
                    submenu: 'Серия Премиум Корсар'
                },
                {
                    submenu: 'Кабинет XL Корсар'
                },
                {
                    submenu: 'Кабинет Президент Корсар'
                },
                {
                    submenu: 'Кабинет Персона Корсар'
                },
                {
                    submenu: 'Кабинет MIND Корсар'
                },
                {
                    submenu: 'Офисная мебель «Континент»'
                },
                {
                    submenu: 'Офисная мебель «Пехотин»'
                }
            ]
        },
        {
            title: 'Комоды'
        },
        {
            title: 'ТВ-Тумбы'
        },
        {
            title: 'Трюмо'
        },
        {
            title: 'Зеркала'
        },
        {
            title: 'Шкафы-купе на заказ и готовые',
            sublist: [
                {
                    submenu: 'Шкафы-купе Виват (ООО «Дом»)'
                },
                {
                    submenu: 'Шкафы-купе «Фаворит» (ООО ДОМ)'

                },
                {
                    submenu: 'Шкаф-купе «Оскар» (OOO ДОМ)'
                },
                {
                    submenu: 'Шкаф-купе «Оскар Лайт» (OOO ДОМ)'
                },
                {
                    submenu: 'Шкафы-купе Феникс'
                },
                {
                    submenu: 'Шкафы-купе на складе'
                },
                {
                    submenu: 'Шкафы-купе «Комфорт Мебель»'
                },
                {
                    submenu: 'Шкафы-купе Мебель-Стар'
                },
                {
                    submenu: 'Шкафы-купе на заказ'
                },
                {
                    submenu: 'Фасады с пескоструем «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Дом»'
                },
                {
                    submenu: 'Комбинированные фасады «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем Мебель-Стар'
                },
                {
                    submenu: 'Фасады фотопечать Мебель-Стар'
                }
            ]
        },
        {
            title: 'Спальни'
        },
        {
            title: 'Кровати',
            sublist: [
                {
                    submenu: 'Односпальные кровати'
                },
                {
                    submenu: 'Двуспальные кровати'
                },
                {
                    submenu: 'Двухъярусные кровати'
                },
                {
                    submenu: 'Кровати металлические'
                },
                {
                    submenu: 'Прикроватные тумбочки'
                }
            ]
        },
        {
            title: 'Кресла и Стулья',
            sublist: [
                {
                    submenu: 'Для руководителей'
                },
                {
                    submenu: 'Для персонала'
                },
                {
                    submenu: 'Для детей'
                },
                {
                    submenu: 'Для кафе'
                },
                {
                    submenu: 'Для посетителей'
                },
                {
                    submenu: 'Мягкие'
                },
                {
                    submenu: 'Пуфики'
                },
                {
                    submenu: 'Табуреты'
                }
            ]
        },
        {
            title: 'Шкафы, пеналы'
        },
        {
            title: 'Тумбы для обуви'
        },
        {
            title: 'Книжные полки'
        },
        {
            title: 'Детские'
        },
        {
            title: 'Мебель на заказ'
        },
        {
            title: 'Двери'
        },
        {
            title: 'Матрасы и ламели',
            sublist: [
                {
                    submenu: 'Матрасы фабрики «Світ меблів»'
                },
                {
                    submenu: 'Матрасы «Come-for»'
                },
                {
                    submenu: 'Матрасы «Матролюкс»'
                },
                {
                    submenu: 'Матрасы (Сокме)'
                },
                {
                    submenu: 'Каркасы с ламелями'
                },
                {
                    submenu: 'Шкафы-купе Феникс'
                },
                {
                    submenu: 'Шкафы-купе на складе'
                },
                {
                    submenu: 'Шкафы-купе «Комфорт Мебель»'
                },
                {
                    submenu: 'Шкафы-купе Мебель-Стар'
                },
                {
                    submenu: 'Шкафы-купе на заказ'
                },
                {
                    submenu: 'Фасады с пескоструем «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Дом»'
                },
                {
                    submenu: 'Комбинированные фасады «Дом»'
                },
                {
                    submenu: 'Фасады фотопечать «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем «Гарант»'
                },
                {
                    submenu: 'Фасады с пескоструем Мебель-Стар'
                },
                {
                    submenu: 'Фасады фотопечать Мебель-Стар'
                }
            ]
        },
        {
            title: 'Столы',
            sublist: [
                {
                    submenu: 'Письменные столы'
                },
                {
                    submenu: 'Компьютерные столы'
                },
                {
                    submenu: 'Журнальные столы'
                },
                {
                    submenu: 'Обеденные столы'
                },
                {
                    submenu: 'Кухонные столы'
                },
                {
                    submenu: 'Столы - Книжки'
                }
            ]
        },
        {
            title: 'Мебель для отеля',
            sublist: [
                {
                    submenu: 'Серия ГКШ'
                },
                {
                    submenu: 'Серия Валентина'
                }
            ]
        },
        {
            title: 'Мебель из дерева',
            sublist: [
                {
                    submenu: 'Деревянные столы'
                },
                {
                    submenu: 'Односпальные кровати из дерева'
                },
                {
                    submenu: 'Двуспальные кровати из дерева'
                },
                {
                    submenu: 'Детские кровати'
                },
                {
                    submenu: 'Этажерки'
                },
                {
                    submenu: 'Шкафы'
                },
                {
                    submenu: 'Тумбы'
                },
                {
                    submenu: 'Комоды'
                },
                {
                    submenu: 'Трюмо'
                },
                {
                    submenu: 'Кухонный уголок'
                },
                {
                    submenu: 'Двухъярусные кровати из дерева'
                }
            ]
        }
    ]
