-
    pageTitle = 'Товарный чек'
//- Utilites
include utils/_variables.pug

//- Mixin
include layout/header/_menu.pug
include layout/header/_socnet.pug
include layout/header/_phone.pug

include layout/nav/_primary-menu.pug

include layout/footer/_socnet.pug
include layout/footer/_menu.pug

include module/_search.pug
include module/_breadcrumbs.pug
include module/_write.pug
include module/_blog-menu.pug
include module/_tags.pug

include module/_catalog.pug
include module/_filter.pug

doctype html
html(lang="ru")
    include layout/_head.pug

    body(itemscope itemtype='http://schema.org/WebPage')
        = '\n'
        //= Layout =
        #layout
            include layout/_header.pug
            include layout/_navigation.pug

            //= Main =
            main#main.main
                .container
                    +breadcrumbs(['Главная'], 'Товарный чек')

                    = '\n'
                    //= Section =
                    .section


                        -
                            var invoiceProvider = [{
                                    name: 'Поставщик:',
                                    value: 'ФЛП Беленький В.О.'
                                },
                                {
                                    name: 'р/с',
                                    value: '26001267809600 в ПАТ "УкрСиббанк"'
                                },
                                {
                                    name: 'МФО',
                                    value: '351005'
                                },
                                {
                                    name: 'Тел.:',
                                    value: '(067) 737-99-79'
                                },
                                {
                                    name: 'ИН:',
                                    value: '3121816276'
                                }
                            ]

                            var invoiceBuyer = [{
                                    name: 'Покупатель:',
                                    value: 'ххх'
                                },
                                {
                                    name: 'Дата и время:',
                                    value: '11.04.2017 12:00 - 18:00'
                                },
                                {
                                    name: 'Телефон:',
                                    value: '+38 (000) 000-00-00'
                                }
                            ]

                            var invoiceOrder = [{
                                    title: 'Виноград Кардинал',
                                    price: '131.00 грн х 1.00 кг = 131.0 грн'
                                },
                                {
                                    title: 'Виноград Кардинал',
                                    price: '131.00 грн х 1.00 кг = 131.0 грн'
                                }
                            ]

                            var invoiceTotal = [{
                                    name: 'Доставка:',
                                    value: '35 грн'
                                },
                                {
                                    name: 'Сумма заказа:',
                                    value: '166 грн'
                                },
                                {
                                    name: 'Скидка 2%:',
                                    value: '3 грн'
                                },
                                {
                                    name: 'Сумма с учетом скидки:',
                                    value: '163 грн'
                                }
                            ]


                        = '\n'
                        //= Invoice
                        .invoice
                            .invoice__title Товарный чек №3578
                                .invoice__title-date от 04.04.2017

                            .invoice__box
                                each item in invoiceProvider
                                    .invoice__field
                                        .invoice__name= item.name
                                        .invoice__value= item.value

                            .invoice__box
                                each item in invoiceBuyer
                                    .invoice__field
                                        .invoice__name= item.name
                                        .invoice__value= item.value


                            ol.invoice__order
                                each item in invoiceOrder
                                    li.invoice__order-item
                                        .invoice__order-wrapper
                                            .invoice__order-title= item.title
                                            .invoice__order-price= item.price

                            .invoice__total
                                each item in invoiceTotal
                                    .invoice__total-field
                                        .invoice__total-name= item.name
                                        .invoice__total-value= item.value

                            .invoice__sign
                                .invoice__sign-item Подпись продавца:
                                .invoice__sign-item Подпись покупателя:

                            .invoice__text Спасибо за покупку!

                        //= End invoice =
                        = '\n'
                    //= End section =
                    = '\n'

                include layout/_navigation-bottom.pug
            //= End main =

            = '\n'
        //= End layout =

        include layout/_footer.pug
        include layout/_scripts.pug
