= '\n'
//= Scripts =
script(src=bowerDir + 'jquery/dist/jquery.min.js')

if (slick)
    script(src=bowerDir + 'slick-carousel/slick/slick.min.js')

if (magnificPopup)
    script(src=bowerDir + 'magnific-popup/dist/jquery.magnific-popup.min.js')

if (modaal)
    script(src=bowerDir + 'modaal/dist/js/modaal.min.js')

if (ionRangeSlider)
    script(src=bowerDir + 'ion.rangeslider/js/ion.rangeSlider.js')

if (select2)
    script(src=bowerDir + 'select2/dist/js/select2.full.min.js')

if (countdown)
    script(src=bowerDir + 'kineticjs/kinetic.min.js')
    script(src='js/jquery.final-countdown' + minSuffix + '.js')

if (perfectScrollBar)
    script(src=bowerDir + 'perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')

script(src='js/main' + minSuffix + '.js')


if (tab)
    script.
        $(document).ready(function () {
            $('.tab-menu').tab('');
        });

if (rating)
    script.
        $(document).ready(function () {
            $('.rating').rating({
                max: 5
            });
        });

if (magnificPopupInline)
    script.
        $(document).ready(function () {
            $('.test-modal').magnificPopup({
                type: 'inline',
                preloader: false
            });
        });

if (magnificPopupGallery)
    script.
        $(document).ready(function () {
            $('.gallery').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true,
                    tCounter: '%curr% of %total%'
                }, 
            });
        });

if (modaalInline)
    script.
        $(document).ready(function () {
            $('.modaal-inline').modaal({
                custom_class: 'modaal-inline--modifier'
            });
        });

if (modaalVideo)
    script.
        $(document).ready(function () {
            $('.modaal-play').modaal({
                custom_class: 'modaal-iframe--modifier',
                type: 'iframe',
                width: 1024,
                height: 768

            });
        });

if (ionRangeSlider)
    script.
        $(document).ready(function () {

            $('#range').ionRangeSlider({
                type: 'double',
                min: 0,
                max: 20000,
                drag_interval: true,
                hide_min_max: true,
                hide_from_to: true
            });
        });

if (select2)
    script.
        $(document).ready(function () {
            $('select.form-control').select2();
        });

if (countdown)
    script.
        $(document).ready(function () {
            $('.countdown').final_countdown();
        });


//- for perfectScrollBar in select2
if (perfectScrollBar && select2)
    script.
        $(document).ready(function () {
            $('select.form-control').on("select2:open", function () {
                $('.select2-results__options').perfectScrollbar();
            });
        });

//- only for perfectScrollBar. set class .perfect-scroll for block you want ot improve
if (perfectScrollBar)
    script.
        $(document).ready(function () {
            $('.perfect-scroll').perfectScrollbar();
        });

//- only for perfectScrollBar. set class .perfect-scroll for block you want ot improve
if (slick)
    script.
        $(document).ready(function () {
            // main slider init
            //- $('#main_slider').slick({
            //-     infinite: true,
            //-     autoplay: true,
            //-     dots: true,
            //-     arrows: false,
            //-     fade: true
            //- });

            $('#slider').slick({
                //autoplay:true,
                infinite: true,
                //speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1,
                //adaptiveHeight: true, //Адаптирует высоту ползунка к текущему слайду
                arrows: true,
                //rows: 0,
                dots: false,

                //- responsive: [
                //-     {
                //-         breakpoint: 840,
                //-         settings: {
                //-         slidesToShow: 2,
                //-         }
                //-     },
                //-     {
                //-         breakpoint: 480,
                //-         settings: {
                //-         slidesToShow: 1,
                //-         }
                //-     }
                //- ],
                prevArrow: '<button type="button" class="slick-prev"></button>',
                nextArrow: '<button type="button" class="slick-next"></button>'
            })

            //- .on('setPosition', function (event, slick) {
            //-     slick.$slides.css('height', slick.$slideTrack.height() + 'px');
            //- });
        });

//= End scripts =
= '\n'
