= '\n'
//= review =
//- (source/assets/css/module/_review.scss)
-
    micromarking = true

    itemscope = (micromarking) ? true : false
    itemprop = (micromarking) ? 'review' : false
    itemtype = (micromarking) ? 'http://schema.org/Review' : false

.review(itemscope= itemscope itemprop= itemprop itemtype= itemtype)
    -
        itempropInnerReviewed = 'itemReviewed'
        contentReviewed = 'Назва товару статті'

        itempropInnerPublished = 'datePublished'
        itempropInnerImage = 'image'
        itempropInnerBody = 'reviewBody'
        itempropInnerAuthor = 'author'

    meta(itemprop= itempropInnerReviewed content= contentReviewed)

    .review__title
        .review__title-photo
            img(src='data/reviews/' + item.img alt='' itemprop= itempropInnerImage)
            if item.point
                span= item.point
        .review__title-info
            .review__header(itemprop= itempropInnerAuthor)
                if item.status
                    span= item.status
                if item.name
                    a.review__name(href="javascript:void(0)")= item.name
                if item.description
                    p.review__description(itemprop= itempropInnerBody)
                        b= item.city
                        != item.description
            if (item.rating || item.date)
                .review__date
                    include _rating.pug
                    span(itemprop= itempropInnerPublished)= item.date

    if item.text
        //- (source/assets/css/module/_review-text.scss)
        .review__text
            .review__text-inner(itemprop= itempropInnerBody)= item.text
        a.review__readmore(href='javascript:void(0);' data-open='Більше' data-hide='Згорнути') Більше
- micromarking = false


//= End review =
= '\n'
