= '\n'
//=routes-wrapper =
//- (source/assets/css/module/_routes.scss)

each val, index in routes
    .routes__item(class = (modifier) ? modifier : '')
        //proportions and the maximum size of images 360x280
        a.routes__img(href='#')
            img.__bg(src='data/main/routes-small' + i + '.jpg' data-src='data/main/' + val.src + i + '.jpg')
        a.routes__icon(href='#') З гідом
        .routes__info
            .routes__info-top
                .routes__info-top-column
                    a.routes__title(href='#')= val.title
                    .routes__city
                        a(href='#')
                            span= val.city
                        a.routes__guide(href='#')
                            span З гідом
                .routes__like.like-green.--active
                    //-img(src='assets/images/container/favorite-icon.svg' alt='')
                    //-img.favorite-icon(src='assets/images/container/favorite-icon-active.svg' alt='')
            ul
                li
                    a(href='#')= val.li1
                li
                    a(href='#')= val.li2
                li
                    a(href='#')= val.li3
//= End routes-wrapper =
= '\n'
